
<h3>
    New passwords are required to be a minimum of 8 characters in length.
</h3>

<fieldset>
    <legend>Change Password Form</legend>
    <ol>
        <li>
            <label>Old Password</label>
            <input type="password" name="OldPassword" ng-model="PasswordInfo.OldPassword" />
        </li>
        <li>
            <label>New Password</label>
            <input type="password" name="OldPassword" ng-model="PasswordInfo.NewPassword" />
        </li>
        <li>
            <label>Confirm Password</label>
            <input type="password" name="OldPassword" ng-model="PasswordInfo.ConfirmPassword" />
        </li>
    </ol>
    <input type="submit" value="Change password" class="btn btn-main" role="button" ng-click="save()" />
</fieldset>