<div>
    <div class="well" style="margin-top:20px;">
        <h3>Recover Your Password</h3>
        <div ng-show="$scope.Model.Error == true" class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            There was a problem sending the email. Please try again in a few minutes.
        </div>
        <p class="lead text-info">
            Enter the email address with which you registered. We'll send you an email containing instructions on how to reset your password.
            Here's how it works:
        </p>

        <p>
            1. Click the link in the email (if you don't see it within a few minutes, check your spam folder).<br/>
            2. On the password reset page, enter your user name and your new password.
        </p>
        <hr/>
        <p>
            <label>Email</label>
            <input type="email" ng-model="Model.Email" value="" />
            <button ng-click="Model.SendEmail()" class="btn btn-link">Send Password Recovery Email</button>
        </p>
        <div class="alert alert-error" ng-show="Model.BadEmail" ng-model="Model.BadEmail">
            This email address was not found.
        </div>
        <div class="alert alert-error" ng-show="Model.Error" ng-model="Model.Error">
            There was a problem sending the email. Please try again later.
        </div>
    </div>

</div>