
<h3>
    New passwords are required to be a minimum of 8 characters in length.
</h3>

<fieldset>
    <legend>Change Password Form</legend>
    <ol>
        <li>
            <label>User Name or Email</label>
            <input type="text" name="UserName" ng-model="Model.UserName" />
        </li>
        <li>
            <label>New Password</label>
            <input type="password" name="OldPassword" ng-model="Model.Password" />
        </li>
        <li>
            <label>Confirm Password</label>
            <input type="password" name="OldPassword" ng-model="Model.ConfirmPassword" />
        </li>
    </ol>
    <input type="submit" value="Change password" class="btn btn-main" role="button" ng-disabled ="!passwordsMatch()" ng-click="Model.Login()" />
</fieldset>
<div class="alert alert-error" ng-show="Model.BadEmail" ng-model="Model.BadEmail">
    This user was not found.
</div>