<style type="text/css">
    .indent {
        padding-left: 15px;
    }

    .terms {
        font-size: 20px;
    }
    h2, h3 {
        margin-top: 15px;
    }
</style>
<div style="text-align: center;margin-top: 20px;font-weight: bold;"></div>
<div class="terms well">
    <div style="text-align: center;"><h2>Privacy Policy</h2></div>
    <div>
        <h2>1. Introduction</h2>
        Busidex.com (“Busidex,” “we,”. “us,” or “our”) takes your privacy very seriously. This document outlines what information we collect, how we use it and under what circumstances your private information may be disclosed.
    </div>
    <div>
        <h2>2. A Special Note Concerning Children</h2>
        Children are not eligible to use our services, and we ask that minors (under the age of 18) do not submit any personal information to us. If you are a minor, you can use this service only in conjunction with your parents or guardians.
    </div>
    <div>
        <h2>3. Personal Data Collected</h2>
        Our primary goal in collecting personal information from you is to provide you with a smooth, efficient, and customized experience while using our services. This allows us to provide services and features that most likely meet your needs, and to customize our services to make your experience easier and quicker.
    </div>
    <div class="indent">
        <h3>3.1 Account Information</h3>
        To fully use our services, you will need to register using our online registration form, where you will be required to provide us with your contact information and other personal information you normally include on your business card. You will also need to create a username and password, and provide an email address we can use to verify your account and retrieve your forgotten password.
    </div>
    <div class="indent">
        <h3>3.2 User Content</h3>
        Collect and store user content (i.e. the business cards) that you upload into our system.
    </div>
    <div class="indent">
        <h3>3.2 Email Communications</h3>
        Communications between you and us, concerning services, technical help, account information, and periodic communications from third-parties and affiliates.
    </div>
    <div class="indent">
        <h3>3.3 Financial Information</h3>
        We may collect financial information for purchase of add-on services. However, we do not store your financial information; such information is stored by our payment processor. Use and storage of that financial information is governed by that payment processor’s applicable terms of service and privacy policy.
    </div>
    <div class="indent">
        <h3>3.4 Information Related to Use of the Services</h3>
        We collect information about how people use the services. This type of information may be collected in our log files each time you interact with (i.e., make a request to) the service. We use internal tools and third party applications and services (like Google Analytics) to collect and analyze this information. Some of this information may also be associated with the Internet Protocol Address (“IP Address”) used to access the Services.
    </div>
    <div class="indent">
        <h3>3.5 Location Information</h3>
        In some cases we collect and store information about where you are located, such as by converting your IP Address into a rough geolocation.
    </div>
    <div class="indent">
        <h3>3.6 Information Related to Your Mobile Device</h3>
        We may collect and store information related to your mobile device. We may also ask you to provide your phone number to enable new products and improve the services, such as by enabling multi-factor authentication for account login. We will always ask you whether it’s OK for us to collect and store your phone number.
    </div>
    <div>
        <h2>4. Use of Personal Data and Other Information</h2>
    </div>
    <div class="indent">
        <h3> 4.1 How We Use Your Information</h3>
        In addition to specific use of the Busidex.com Service, we may use information that we receive to help you efficiently access your information after you sign in; remember information so you will not have to re-enter it during your visit or the next time you access the service; provide, improve, test, and monitor the effectiveness of our service; develop and test new products and features; monitor metrics such as total number of visitors, traffic, and demographic patterns; diagnose or fix technology problems; and automatically update the Busidex.com Service on your device
    </div>
    <div class="indent">
        <h3> 4.2 Sharing Your Information</h3>
        We will not rent or sell your information to third parties without your consent, except as noted in this Privacy Policy. We may share User Content and your information (including but not limited to, information from cookies, log files, device identifiers, location data, and usage data) with businesses that are legally part of the same group of companies that Busidex.com is part of, or that become part of that group (“affiliates”). We also may share your information as well as information from tools like cookies, log files, and device identifiers and location data, with third-party organizations that help us provide the Service to you (“service providers”).
    </div>
    <div class="indent">
        <h3>4.3 Storage and Processing</h3>
        Your information may be stored and processed in the United States or any other country in which Busidex.com, its affiliates or service providers maintain facilities. Busidex.com, its affiliates and service providers may transfer your information across borders and from your country or jurisdiction to other countries and jurisdictions across the world. If you are located in the European Union or other regions with laws governing data collection and use that may differ from U.S. law, please note that we may transfer information, including personal information, to a country and jurisdiction that does not have the same data protection laws as your jurisdiction. By registering for and using the Busidex.com Service you consent to the transfer of information to the U.S. or to any other country in which Busidex.com, its affiliates or service providers maintain facilities and the use and disclosure of information about you as described in this Privacy Policy.
    </div>
    <div class="indent">
        <h2>4.4 Information You Share with Third Party Services</h2>
        You may access Third Party Services through the Busidex.com. You may also choose to share information that you provide to us with those Third Party Services. This Privacy Policy only governs information we collect and you are responsible for reading and understanding those Third Party Services’ terms of service and privacy policies.
    </div>
    <div class="indent">
        <h3>4.5 Information Disclosed for Our Protection and the Protection of Others</h3>
        We reserve the right to access, preserve, and disclose any information as we reasonably believe is necessary, in our sole discretion, to (i) satisfy any law, regulation, legal process, governmental request, or governmental order, (ii) enforce this Privacy Policy and our Terms of Service, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security, trust and safety, or technical issues (including exchanging information with other companies and organizations for the purposes of improving security and preventing fraud, spam, and malware), (iv) respond to user support requests, or (v) protect the rights, property, health or safety of us, our users, any third parties or the public in general, including but not limited to situations involving possible violence, suicide, or self-harm.
    </div>
    <div>
        <h2>5. Data Security</h2>
        To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure your private information that we collect. However, we can’t guarantee the security of any information. Unauthorized entry or use, hardware or software failure, and other factors may compromise security of user information at any time.
    </div>
    <div>
        <h2>6. How To Delete Your Account</h2>
        If you want to delete your account, you can do so from your account settings page https://www.busidex.com/#/account or by emailing us at helpdesk.busidex@gmail.com and providing proof of authority over the account. What constitutes “proof of authority” will vary depending on the circumstances, but generally will require sufficient identifying information so that we can be confident you are the account owner. Deleting your account may not fully remove the content you have published from our systems, as caching of, backups of, copies of, or references to your account information may not be immediately removed.
    </div>
    <div>
        <h2>7. Changes to This Privacy Policy</h2>
        Busidex.com may modify or update this Privacy Policy from time to time, so please review it periodically. We may provide you additional forms of notice of modifications or updates as appropriate under the circumstances. Your continued use of the Busidex.com Service after any modification to this Privacy Policy will constitute your acceptance of such modification.
    </div>
    <p>Effective (April 16, 2014)</p>
</div>