<div class="well well-large span12" style="margin-top: 20px; margin-bottom:150px;">
    <div class="span6">
        <h1 style="font-size: 55px; text-shadow: 3px 3px 2px rgba(232, 209, 249, 1); ">Welcome To Busidex!</h1>
        <p class="about" style="padding:10px;">
            <strong>Busi-What?</strong> Busidex brings <strong>you</strong> to them and them to <strong><i>you</i>.</strong> It's like a backpack
            for your business - always available and always current. Using our easy-to-use web and mobile platform, you can add and update and distribute
            your business card online and have it work for you like never before.
        </p>
        <p class="about" style="padding: 0 10px;">
            <strong>So what does Busidex do for you?</strong> 
            <ul>
                <li style="list-style: disc;">Everyone on Busidex that has your card will always see your current contact information as soon as you update it.</li>
                <li style="list-style: disc;">Let's you share your card with anyone you want with one click</li>
                <li style="list-style: disc;">Helps you <u>manage</u> your business without getting <strong><i>in</i></strong> your business.</li>
                <li style="list-style: disc;">Gives you near real-time insight into how effectively you're getting your information out there.</li>
            </ul>
        </p>
       
    </div>
    <div class="span4">
        <img src="/img/conference-logo-w-blue-box-trnsp.png" />
        <div style="padding: 40px; text-align: center;">
            <!--<a class="btn btn-info btn-large" href="#/account/register?promo_code=RIARExpo2014">Click Here to Get Started</a>-->
        </div>
    </div>
</div>