<div class="well well-large span12" style="margin-top: 20px; margin-bottom:150px;background: #fff;">
    <div class="span5">
        <h1 style="color: #2589a0; font-family: Helvetica;text-align:center">Minuteman Press <br/><small>The Last Step for Your Business Card!</small> </h1>
        <p class="about" style="padding:10px;font-size:1.2em;">
            <strong>Minuteman Press</strong> has printed your business card and now has given you the image of your card so you can upload your business card 
            onto Busidex. Next time you give out your business card let them know that if they lose your business card they can find it with 
            the Busidex App on their phone. 
        </p>
        <p class="about" style="padding:10px;">
            <strong>Click to view the presentation:</strong>
            <a href="https://prezi.com/wvwu_4cdjyej/empowering-your-business-card/?utm_campaign=share&utm_medium=copy" style="color:blue" target="_blank">Why Busidex? (presentation)</a>
        </p>
        <p>
            <img src="/img/Busidex_logo_hor.png" style="height: 95px;"/>
        </p>
    </div>
    <div class="span6">
        <img src="/img/minuteman.jpg" style="height:170px;margin-top: -25px; margin-bottom: 20px;margin-left:30px;" />
        <div style="border: solid 1pt silver; border-radius: 10px;">
            <p>
                <h4 style="text-align: center;">For more information contact <a style="text-decoration: underline;" target="_blank" href="mailto:busidex.help@gmail.com">Busidex Help</a></h4>
            </p>
            <div style="padding: 30px 40px 20px 40px; text-align: center;">
                <a class="btn btn-info btn-large" href="#/account/register?promo_code=MMPress" target="_blank">Click Here to Get Started</a>
            </div>
            <div style="padding: 0 40px 40px 40px; text-align: center;">
                <h4>Already have a Busidex account?</h4>
                <a class="btn btn-info btn-large" href="#/account/login?_e=MMPress" target="_blank">Click here to log in</a>
            </div>
        </div>
    </div>

</div>