<div class="well well-large span12" style="margin-top: 20px; margin-bottom:150px;">
    <div class="span6">
        
        <p class="about" style="padding:10px;">
            <strong>Busidex</strong>  brings <strong>you</strong> to them and them to <strong><i>you</i>.</strong> It's like a backpack
            for your business - always available and always current. Using our easy-to-use web and mobile platform, you can add and update and distribute
            your business card online and have it work for you like never before.
        </p>
        <div>
            <iframe src="https://prezi.com/embed/jdk2y2-pfk0v/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=1&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined&amp;html5=1" width="550" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

    </div>
    <div class="span4">
        <img src="/img/RealtorFoundation.png" style="height:150%;" />
        <h4 style="text-align:center;">Realtor Troop Support Taskforce</h4>
        <div style="text-align: center;font-size: 16px;"><strong>Helping Service Members Attain, Maintain and Retain Homes.</strong></div>
        <div style="padding: 40px; text-align: center;">
            <a class="btn btn-info btn-large" href="#/account/register?promo_code=TroopSupport">Click Here to Get Started</a>
        </div>
    </div>
    
</div>