<html>
    <head><title>Busidex</title></head>
    <body style="font-family:arial,sans-serif">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
            <tbody>
                <tr>
                    <td colspan="3" valign="top" style="text-align: left; color: #439fe0;">
                        <h1>Your Busidex Invitation!</h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>
                            %NAME_ON_CARD% has shared a personal business card with you so you will always have the most up-to date contact information about the businsess, as
                            well as be able to call, email, get directions and keep any notes you might want about this business.
                        </p>
                        <p>
                            In order to have this card on your smartphone please click the link and register with Busidex and then download the mobile app on your smartphone.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="5%"></td>
                    <td width="60%" valign="top">
                        <!--<p><img src="https://az381524.vo.msecnd.net/cards/+++" style="height:%HH%;width:%WW%" /></p>
                        <p><img src="https://az381524.vo.msecnd.net/cards/---" style="height:%BHH%;width:%BWW%;display:%DISPLAY_BACK%" /></p>-->
                    </td>
                    <td width="35%" valign="top" style="font-style:italic;padding:5px">
                        %PERSONAL_MESSAGE%
                    </td>
                </tr>
                
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p style="text-align:center;margin-bottom:0.5rem">
                            <a href="https://www.busidex.com/#/account/register/###" style="display:block;text-decoration:none;padding:16px;background:#439fe0;border-radius:8px;font-weight:bold;font-size:20px;color:white;width:85%;margin-left:5%;" target="_blank">Get Started Now</a>
                        </p>
                        <br />
                        <br />
                        <p>Thank you<br /><strong>Busidex.com</strong></p>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div><strong>CONFIDENTIALITY NOTICE:</strong></div>
                        <div>
                            This e-mail message, including any attachments, may contain information that is legally privileged,
                            confidential and/or exempt from disclosure under applicable law. If you are not the intended recipient(s), or
                            the employee or agent responsible for delivery of this message to the intended recipient(s), you are
                            hereby notified that any dissemination, distribution, copying of this e-mail message or use of the information
                            is STRICTLY PROHIBITED. If you received this message in error, immediately notify the sender & delete this e-mail
                            message including any attachments in its entirety from your computer.
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>