div.mb-card-container {
  /* entire container, keeps perspective */
  /* flip the pane when hovered */
  /* flip speed goes here */
  /* hide back of pane during swap */
  /* front pane, placed above back */
  /* back, initially hidden pane */
  /*        Style       */
  /*      Just for presentation        */ }
  div.mb-card-container .btn:hover, div.mb-card-container .btn:focus, div.mb-card-container .btn:active {
    outline: 0 !important; }
  div.mb-card-container .card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px; }
  div.mb-card-container .card-container:not(.manual-flip):hover .card, div.mb-card-container .card-container.hover.manual-flip .card {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  div.mb-card-container .card-container.static:hover .card, div.mb-card-container .card-container.static.hover .card {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
  div.mb-card-container .card {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative; }
  div.mb-card-container .front, div.mb-card-container .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14); }
  div.mb-card-container .front {
    z-index: 2; }
  div.mb-card-container .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 3; }
  div.mb-card-container .back.showMe, div.mb-card-container .front.showMe {
    visibility: visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible; }
  div.mb-card-container .back .btn-simple {
    position: absolute;
    left: 0;
    bottom: 4px; }
  div.mb-card-container .card {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444; }
  div.mb-card-container i.share-link {
    position: absolute;
    z-index: 3;
    height: 40px;
    width: 40px;
    padding: 5px;
    color: #ffffff;
    margin-right: 40px;
    right: 0; }
    div.mb-card-container i.share-link span {
      font-family: Lato;
      display: inline-block;
      padding-left: 8px; }
  div.mb-card-container img.card-icon {
    position: absolute;
    z-index: 3;
    height: 40px;
    width: 40px;
    padding: 5px;
    bottom: 0;
    right: 10px; }
  div.mb-card-container .card-container, div.mb-card-container .front, div.mb-card-container .back {
    width: 100%;
    height: 420px;
    border-radius: 4px; }
  div.mb-card-container .card .cover {
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0; }
  div.mb-card-container .card .cover img {
    /*width: 100%;*/ }
  div.mb-card-container .card .user {
    /*border-radius: 50%;*/
    display: block;
    /*height: 120px;*/
    margin: -85px auto 0;
    /*overflow: hidden;*/ }
    div.mb-card-container .card .user img {
      border: solid 1pt #444444;
      background: #d3d3d3;
      position: relative;
      top: 50%;
      /*left: 50%;*/ }
    div.mb-card-container .card .user img.h_thumbnail {
      width: 252px;
      height: 144px;
      margin-left: auto;
      margin-right: auto;
      /*width: 100%;*/
      /*margin: -72px 0 0 -116px;*/ }
    div.mb-card-container .card .user img.v_thumbnail {
      width: 144px;
      height: 252px;
      /*margin: -116px 0 0 -72px;*/ }
  div.mb-card-container .card .user.h_thumbnail {
    text-align: center; }
  div.mb-card-container .card .user.v_thumbnail {
    text-align: left;
    padding-left: 20px; }
  div.mb-card-container .card .user img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    /*width: 100%;*/ }
  div.mb-card-container .card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px; }
  div.mb-card-container .card .content .main {
    min-height: 160px; }
    div.mb-card-container .card .content .main h3.v_thumbnail {
      text-align: right;
      margin-top: -135px; }
    div.mb-card-container .card .content .main p.v_thumbnail {
      text-align: right;
      margin-bottom: 80px; }
    div.mb-card-container .card .content .main h4.v_thumbnail {
      margin-top: -35px; }
    div.mb-card-container .card .content .main textarea.h_thumbnail {
      height: 70%; }
    div.mb-card-container .card .content .main textarea.v_thumbnail {
      height: 50%; }
  div.mb-card-container .card .back .content .main {
    height: 215px; }
  div.mb-card-container .card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize; }
  div.mb-card-container .card h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    max-width: 250px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden; }
  div.mb-card-container .card .profession {
    color: #999999;
    text-align: center;
    margin-bottom: 20px; }
  div.mb-card-container .card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    /*margin: 30px 0 0;*/
    padding: 10px 0 0;
    text-align: center; }
  div.mb-card-container .card .footer .social-links {
    font-size: 18px; }
  div.mb-card-container .card .footer .social-links a {
    margin: 0 7px; }
  div.mb-card-container .card .footer .btn-simple {
    margin-top: -6px; }
  div.mb-card-container .card .header {
    padding: 15px 20px;
    height: 90px; }
  div.mb-card-container .card .motto {
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center; }
  div.mb-card-container .title {
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%; }
  div.mb-card-container .title small {
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0; }
  div.mb-card-container .space-50 {
    height: 50px;
    display: block; }
  div.mb-card-container .space-200 {
    height: 200px;
    display: block; }
  div.mb-card-container .white-board {
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px; }
  div.mb-card-container .ct-heart {
    color: #F74933; }
  div.mb-card-container pre.prettyprint {
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left; }
  div.mb-card-container .atv, div.mb-card-container .str {
    color: #05AE0E; }
  div.mb-card-container .tag, div.mb-card-container .pln, div.mb-card-container .kwd {
    color: #3472F7; }
  div.mb-card-container .atn {
    color: #2C93FF; }
  div.mb-card-container .pln {
    color: #333; }
  div.mb-card-container .com {
    color: #999; }
  div.mb-card-container .btn-simple {
    opacity: 0.8;
    color: #666666;
    background-color: transparent; }
  div.mb-card-container .btn-simple:hover, div.mb-card-container .btn-simple:focus {
    background-color: transparent;
    box-shadow: none;
    opacity: 1; }
  div.mb-card-container .btn-simple i {
    font-size: 16px; }

/*       Fix bug for IE      */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .front, .back {
    -ms-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;
    backface-visibility: visible; }

  .back {
    visibility: hidden;
    /*backface-visibility: hidden;
        -ms-backface-visibility: hidden;*/
    -ms-transition: all 0.2s cubic-bezier(0.92, 0.01, 0.83, 0.67); }

  .front {
    z-index: 4; }

  .card-container:hover .back {
    z-index: 5;
    visibility: visible; }
 }

.animate-repeat {
  padding-top: 15px;
  position: relative;
  z-index: 2; }

.animate-repeat.ng-move, .animate-repeat.ng-enter, .animate-repeat.ng-leave {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s; }

.animate-repeat.ng-leave.ng-leave-active, .animate-repeat.ng-move, .animate-repeat.ng-enter {
  opacity: 0;
  max-height: 0;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s; }

.animate-repeat.ng-leave, .animate-repeat.ng-move.ng-move-active, .animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 100%;
  /*40px;*/
  /*backface-visibility: hidden;
        -ms-backface-visibility: hidden;*/ }

/*# sourceMappingURL=rotating-card.css.map */