<div>
    <nav class="navbar navbar-inverse navbar-static-top" ng-controller="HeaderController as vm">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span style="color:#558c99;">MENU</span>
                </button>
                <a class="navbar-brand" href="https://www.busidex.com"><img src="/images/busidex_logo_hor.png" style="height:50px;" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="https://www.busidex.com/#/card/search">SEARCH</a></li>
                    <li ng-show="vm.LoggedIn"><a href="https://www.busidex.com/#/faq">QUESTIONS</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.busidex.com/#/login">LOGIN</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>