<style>
    html,body{ background: #fff;min-height: 100%;}
    div.container {
        margin-left: 175px;
    }
</style>
<div ng-model="Card">
    <div modal="ExistingCards.length > 0" class="modal hide fade" role="dialog">
        <div class="modal-header">
            <h3>This card already exists</h3>
        </div>
        <div class="modal-body">
            <p>
                The owner of this card has already added it to Busidex. You can add it to your collection by clicking selecting the
                radio button next to the card name and then clicking 'Use This Card' to the right of the card shown below.
            </p>
            <table class="existingCards">
                <tbody>
                    <tr ng-repeat="card in ExistingCards">
                        <td><input type="radio" class="SelectExistingCard" name="SelectExistingCard" ng-model="card.CardId" ng-click="SetSelectedExistingCardId(card.CardId)" /></td>
                        <td style="width:65px;" class="existingInfo">{{card.Name}}<br />{{card.PhoneNumber[0].Number}}</td>
                        <td><img alt="Front Image" class="preview {{Model.FrontOrientationClass}}" ng-src="https://az381524.vo.msecnd.net/cards/{{card.FrontFileId}}.{{card.Card.FrontType.replace('.','')}}" /></td>
                        <td><button cardid="{{card.CardId}}" class="btn btn-info" ng-disabled="Model.SelectedExistingCardId == 0" ng-click="AddExistingCard()">Use&nbsp;this&nbsp;card</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning cancel" ng-click="ClearExisting()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    <!--NAVIGATION-->
    <div class="sideNav">
        <ul id="Sidebar">
            <li ng-class="{selected: Tabs['details']}">
                <a href="" ng-click="SetCurrentTab('details')">Details</a>
                <button style="margin-top:-5px;" popover="{{DetailsHelp}}" popover-trigger="mouseenter" popover-placement="right" class="btn btn-danger" ng-show="NoDetails()">!</button>
            </li>
            <li ng-class="{selected: Tabs['mycard']}"><a href="" ng-click="SetCurrentTab('mycard')">Card Image</a></li>
            <li ng-class="{selected: Tabs['address']}"><a href="" ng-click="SetCurrentTab('address')">Address</a></li>
            <li ng-class="{selected: Tabs['phone']}"><a href="" ng-click="SetCurrentTab('phone')">Phone Numbers</a></li>
            <li ng-class="{selected: Tabs['tags']}">
                <a href="" ng-click="SetCurrentTab('tags')">Tags</a>
                <button style="margin-top:-5px;" popover="{{TagHelp}}" popover-trigger="mouseenter" popover-placement="right" class="btn btn-info" ng-show="Model.Tags.length == 0">?</button>
            </li>
            <li ng-class="{selected: Tabs['notes']}"><a href="" ng-click="SetCurrentTab('notes')">Notes</a></li>
            <!--<li ng-class="{selected: Tabs['visibility']}" ng-click="SetCurrentTab('visibility')"><a>Visibility</a></li>-->
            <li ng-class="{selected: Tabs['scorecard']}" ng-click="SetCurrentTab('scorecard')"><a>Score Card</a></li>
            <!--<li><a ng-href="#/card/mine">Share My Card</a></li>-->
            <li style="padding-left:20px;"><hr /></li>
            <li style="padding:20px;"><input style="width:100%;" type="button" class="step btn btn-success" value="Save" ng-click="Save()" /></li>
            <li style="padding-left:20px;">
                <h5 style="text-align:center;color:#ffffff;">Profile Complete</h5>
                <progressbar value="CalculateProgress()" type="success"><b>{{CalculateProgress()}}%</b></progressbar>
            </li>
        </ul>        
    </div>
    <div class="uploadForm">
        <form novalidate="novalidate" autocomplete="off" id="cardForm" method="post" enctype="multipart/form-data" style="background: #fff;">
            <!--VALIDATION MESSAGE-->
            <h4 class="alert alert-block" ng-show="!Model.IsValid" ng-model="Model.IsValid">
                Please fill in all required fields.
            </h4>
            <!--ERRORS-->
            <div class="alert alert-block" style="padding-left:35%;" ng-show="Model.Errors.length > 0" ng-model="Model.Errors">
                <h4>Sorry, we couldn't save your card:</h4>
                <ul>
                    <li ng-repeat="error in Model.Errors">{{error}}</li>
                </ul>
            </div>
            <!--CARD SAVED-->
            <div class="animate" ng-class="{cardSaved: !Model.NewCardSaved}">
                <div class="alert alert-success" style="text-align: center;">
                    <h2>Saved!</h2>
                    <h4>Your card has been saved and will be available shortly</h4>
                </div>
            </div>
            <!--TERMS OF SERVICE-->
            <div id="terms" class="workArea" ng-show="Tabs['terms']">
                <div class="well well-large">
                    <h3>
                        Terms Of Service<br />
                        <small>
                            Our terms of service have changed. Please take a second to review and check off that you accept them to continue.
                        </small>
                    </h3>
                    <div class="control-group">
                        <div class="controls">
                            <img ng-src="../img/spinner.gif" ng-show="acceptingTerms" />
                            <label class="checkbox" ng-show="!acceptingTerms">
                                <input type="checkbox" ng-click="accept_terms()"> I accept the <a ng-href="https://www.busidex.com/#/account/terms" target="_blank">Terms of Service</a>.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--DETAILS-->
            <div id="details" class="workArea" ng-show="Tabs['details']">
                <div id="cardBusiness" class="cardField">
                    <label class="fixedLabel" for="CompanyName">Company:&nbsp;</label>
                    <input type="text" ng-model="Model.CompanyName" maxlength="150" name="CompanyName" />
                </div>
                <div id="cardName" class="cardField" style="margin-top:10px;">
                    <label class="fixedLabel" for="Name">Name:&nbsp;</label>
                    <input type="text" ng-model="Model.Name" maxlength="150" name="Name" />
                </div>
                <div id="Title" class="cardField">
                    <label class="fixedLabel" for="Title">Title:&nbsp;</label>
                    <input type="text" ng-model="Model.Title" maxlength="150" name="Title" />
                </div>
                <div id="cardEMail" class="cardField">
                    <label class="fixedLabel" for="Email">EMail:&nbsp;</label>
                    <input type="text" ng-model="Model.Email" maxlength="150" name="Email" />
                    <span class="required">*</span>
                </div>
                <div id="cardUrl" class="cardField">
                    <label class="fixedLabel" for="Url">Url:&nbsp;</label>
                    <input type="text" ng-model="Model.Url" maxlength="250" name="Url" />
                </div>
                <hr />
                <h3>Who Can See Your Card?</h3>
                <ul style="margin-top:20px;">
                    <li>
                        <label for="vis_public">
                            <input type="radio" name="Visibility" id="vis_public" value="1" ng-model="Model.Visibility" />
                            <strong>Public</strong> - Anyone can find your card, add it to their collection and share it.
                            <div class="well toggle" ng-show="Model.Visibility == 1">
                                <p>
                                    With this option your card will be completely searchable by your name, company, title, email, and any tag
                                    you have associated with your card. Anyone with or without a Busidex Account can search you, only those that
                                    do have a Busidex Account can add your card to your Busidex Account.
                                </p>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label for="vis_semipublic">
                            <input type="radio" name="Visibility" id="vis_semipublic" value="2" ng-model="Model.Visibility" />
                            <strong>Semi-Public</strong> - Your card can be found only by those with whom it has been shared, and anyone can share your card.
                            <div class="well toggle" ng-show="Model.Visibility == 2">
                                <p>
                                    <strong><i>Searching</i></strong><br />
                                    Your card will not be searchable by anyone except by those that have a Busidex account with whom your card has been shared.
                                </p>
                                <p>
                                    <strong><i>Sharing</i></strong><br />
                                    If you share with someone that does not have a Busidex account they will need to open an account to view
                                    your card in their Busidex page. Once you have shared your card, you give those with whom you shared your
                                    card the authorization to then share your card with whomever they wish. In other words, you authorize that
                                    your card can be shared with anyone by anyone that has your card.
                                </p>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label for="vis_private">
                            <input type="radio" name="Visibility" id="vis_private" value="3" ng-model="Model.Visibility" />
                            <strong>Private</strong> - Your card can only be found by those with whom it has been shared, and only you can share your card.
                            <div class="well toggle" ng-show="Model.Visibility == 3">
                                <p>
                                    With this option your card can only be shared by you. Even those that have your card cannot share it. You
                                    are the only person that can give your card to others.
                                </p>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
            <!--CARD IMAGE-->
            <div id="mycard" class="workArea" ng-show="Tabs['mycard']">
                <img src="../../img/spinner.gif" ng-show="Waiting" />
                <div ng-show="FileError" class="alert alert-error" style="text-align: center;">
                    <h4>File Error</h4>
                    <p>The file you selected is too big. Please choose an image that is less than 150KB in size.</p>
                </div>
                <div>
                    <label class="fixedLabel">Front Image:&nbsp;</label><span ng-show="Model.IsMyCard" class="required">*</span>
                    <input style="position:relative;z-index:2;" type="file" id="getFrontImgHdn" target="frontPreview" ng-model="Model.FrontImage" name="CardFrontImage" idx="0" file-upload multiple />
                    <div>
                        <input type="radio" name="FrontOrientation" value="H" id="o_fh" ng-model="Model.FrontOrientation" /><span>Horizontal</span>
                        <input type="radio" name="FrontOrientation" value="V" id="o_fv" ng-model="Model.FrontOrientation" /><span>Vertical</span>
                    </div>
                    <div>
                        <img alt="Front Image" id="frontPreview" ng-src="{{Model.FrontFileId}}" cardid="{{Model.CardId}}"
                             class="preview frontPreview " ng-class="{'h_preview': (Model.FrontOrientation=='H'), 'v_preview': (Model.FrontOrientation=='V') }"
                             style="margin-bottom: 20px" />
                    </div>
                </div>
                <div>
                    <label class="fixedLabel">Back Image:&nbsp;</label>
                    <input type="button" value="Remove" class="btn btn-info" ng-click="ResetBackImage()" />
                    <input type="file" id="getBackImgHdn" target="backPreview" name="CardBackImage" ng-model="Model.BackImage" idx="1" file-upload multiple />
                    <div>
                        <input type="radio" name="BackOrientation" value="H" id="o_bh" ng-model="Model.BackOrientation" /><span>Horizontal</span>
                        <input type="radio" name="BackOrientation" value="V" id="o_bv" ng-model="Model.BackOrientation" /><span>Vertical</span>
                    </div>
                    <div>
                        <img alt="Back Image" id="backPreview" ng-src="{{Model.BackFileId}}" cardid="{{Model.CardId}}"
                             class="preview backPreview " ng-class="{'h_preview': (Model.BackOrientation=='H'||Model.BackOrientation=='N'), 'v_preview': (Model.BackOrientation=='V') }" />
                    </div>
                </div>
            </div>
            <!--PHONE NUMBERS-->
            <div id="phone" class="workArea" ng-show="Tabs['phone']">
                <div id="ContactNumbers">
                    <h4>
                        Contact Numbers<span class="required" style="font-size:12px;">&nbsp;*</span>
                        <label class="label label-warning" ng-show="!Model.PhoneValid" ng-model="Model.PhoneValid">Please select a phone number type.</label>
                    </h4>
                    <div ng-repeat="phoneNumber in Model.PhoneNumbers | filter:{Deleted:false}" id="cardphone{{phoneNumber.PhoneNumberId}}"
                         class="phoneDiv cardField" style="margin-top:10px;">
                        <input type="hidden" name="PhoneNumberId" ng-model="phoneNumber.PhoneNumberId" />
                        <select class="input-small" ng-model="phoneNumber.PhoneNumberTypeId" ng-options="pnType.PhoneNumberTypeId as pnType.Name for pnType in Model.PhoneNumberTypes"></select>
                        :<input type="text" maxlength="20" style="width:100px" ng-required="true" name="Number" class="PhoneNumber" ng-model="phoneNumber.Number" />
                        &nbsp;ext
                        <input type="text" maxlength="20" style="width:45px" name="Extension" ng-model="phoneNumber.Extension" />&nbsp;
                        <input type="hidden" name="PhoneDeleted" class="PhoneDeleted" ng-model="phoneNumber.Deleted" />
                        <a href="" class="btn addPhone" target="cardPhone2" next="cardPhone2" ng-click="Model.AddPhoneNumber(phoneNumber.Number)" ng-show="Model.PhoneNumbers.indexOf(phoneNumber) == Model.PhoneNumbers.length-1">Add another</a>
                        <a href="" class="btn removePhone" ng-click="Model.RemovePhoneNumber(phoneNumber.Number)" ng-show="Model.PhoneNumbers.length > 1 ">Remove</a>
                    </div>
                </div>
            </div>
            <!--ADDRESSES-->
            <div id="address" class="workArea" ng-show="Tabs['address']">
                <div ng-repeat="addr in Model.Addresses">
                    <div class="cardField" style="margin-top: 10px;">
                        <label class="fixedLabel" for="Address1">Address&nbsp;1:&nbsp;</label>
                        <input autocomplete="off" class="addressField" id="Address1" type="text" ng-model="addr.Address1" maxlength="150" />
                    </div>
                    <div class="cardField" style="margin-top: 10px;">
                        <label class="fixedLabel" for="Address2">Address&nbsp;2:&nbsp;</label>
                        <input autocomplete="off" class="addressField" id="Address2" type="text" ng-model="addr.Address2" maxlength="150" />
                    </div>
                    <div class="cardField" style="margin-top: 10px;">
                        <label class="fixedLabel" for="City">City:&nbsp;</label>
                        <input autocomplete="off" class="addressField" id="City" type="text" ng-model="addr.City" ng-required="Model.IsMyCard" maxlength="150" />
                    </div>
                    <div class="cardField" style="margin-top: 10px;">
                        <label class="fixedLabel" for="State">State:&nbsp;</label>
                        <select class="addressField" id="State" style="width:215px"
                                ng-model="addr.State"
                                ng-required="true"
                                ng-options="state as state.Name for state in Model.StateCodes">
                            <option value="" selected="selected">Select a State</option>
                        </select>
                    </div>
                    <div class="cardField" style="margin-top: 10px;">
                        <label class="fixedLabel" for="ZipCode">ZipCode:&nbsp;</label>
                        <input autocomplete="off" class="addressField" id="ZipCode" type="text" ng-required="Model.IsMyCard" ng-model="addr.ZipCode" maxlength="15" />
                    </div>
                </div>
            </div>
            <!--TAGS-->
            <div id="tags" class="workArea" ng-show="Tabs['tags']">
                <div class="tagContainer">
                    <span>New Tag: </span>
                    <input type="text" id="newTag" ng-model="Model.NewTag" ng-enter="Model.AddTag()" maxlength="35" ng-disabled="Model.Tags.length >= 7" />
                    <input type="button" style="vertical-align: top;" id="btnAddTag" value="Add Tag" ng-click="Model.AddTag()" ng-disabled="Model.Tags.length >= 7" />
                    <span><i>Limit 7</i></span>
                    <ul id="tagList" ng-model="Model.Tags">
                        <li ng-repeat="tag in Model.Tags" class="tag {{Model.TagTypes[tag.TagType]}}Tag">
                            <div class="">
                                <input type="hidden" name="tagText" class="tag" value="{{tag.Text}}" maxlength="35" />
                                <label class="tagName"></label>{{tag.Text}}<span class="removeTag" ng-show="tag.TagType==1" ng-click="Model.RemoveTag(tag.Text)">X</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--NOTES-->
            <div id="notes" class="workArea" ng-show="Tabs['notes']">
                <fieldset style="float:left;height:370px;width:50%;">
                    <textarea name="Notes" id="Notes" cols="50" rows="10" style="width: 90%" ng-model="Model.Notes"></textarea>
                    <div class="label label-important" style="text-align:center;width:90%;white-space: normal;">
                        These notes will be displayed in <span style="color:#ddd;">your</span> busidex collection only. Nobody else will see them.
                    </div>
                </fieldset>
            </div>
            <!--VISIBILITY-->
            <div id="visibility" class="workArea" ng-show="Tabs['visibility']">

            </div>
            <!--SCORE CARD-->
            <div id="scorecard" class="workArea" ng-show="Tabs['scorecard']">
                <h1>BUSIDEX ADVANTAGE SCORE CARD <small class="italic">PREVIEW</small></h1>
                <p>Using a base of 150 points, distribute your points between the items you believe are most important to your business.</p>
                <small class="italic">COMING SOON</small>
            </div>

            <div>
                <img src="" style="display:none" id="imgFrontReset" />
                <img src="" style="display:none" id="imgBackReset" />
                <input type="hidden" ng-model="Model.IsMyCard" value="" />
                <input type="hidden" ng-model="Model.CardId" name="CardId" />
                <input type="hidden" ng-model="Model.MyEmail" id="myEmail" />
                <input type="hidden" ng-model="Model.HasFrontImage" id="HasFrontImage" />
                <input type="hidden" name="showImagePreview" id="showImagePreview" value="false" />
                <input type="hidden" ng-model="Model.Display" name="Display" id="Display" />
                <input type="hidden" ng-model="Model.Markup" name="Markup" />
                <input type="hidden" name="Created" value="{{Created}}" />
                <input type="hidden" name="CreatedBy" value="{{CreatedBy}}" />
                <input type="hidden" name="Updated" value="{{Updated}}" />
                <input type="hidden" name="UserId" ng-model="User.UserId" value="{{$parent.User.UserId}}" />
            </div>
        </form>
    </div>
</div>