
<div class="well well-large" style="margin-top:30px;">
    <h1>Welcome To Busidex!</h1>
    <h3>Get Started With Your Card...</h3>
    <div>
        <h4 class="muted">I already have an account</h4>
        <a class="link btn btn-info" href="#/account/login/{{Token}}">Login and View My Card</a>
    </div>
    <h4>OR</h4>
    <div>
        <h4 class="muted">I need to create an account</h4>
        <a class="link btn btn-info" href="#/account/register/{{Token}}">Register and View My Card</a>
    </div>
</div>