<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        .navbar-fixed-top {
            display: none;
        }
        footer {
            display: none;
        }
    </style>
</head>
<body>
    <div class="well-large" style="margin-top: 100px;">
        <h2>
            <a target="_blank" href="itms-services://?action=download-manifest&amp;
url=https://www.busidex.com/downloads/GenesisApp-Release-Custom.plist">Virgin Pulse App
            <br/><small>Please click above via iPhone</small></a>
        </h2>
    </div>
</body>
</html>
