$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*#region FONTS*/
@font-face {
    font-family: 'lato';
    src: url("fonts/Lato-Reg-webfont.eot");
    src: url("fonts/Lato-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Reg-webfont.woff2") format("woff2"), url("fonts/Lato-Reg-webfont.woff") format("woff"), url("fonts/Lato-Reg-webfont.ttf") format("truetype"), url("fonts/Lato-Reg-webfont.svg#latoblack") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latoblack';
    src: url("fonts/Lato-Bla-webfont.eot");
    src: url("fonts/Lato-Bla-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Bla-webfont.woff2") format("woff2"), url("fonts/Lato-Bla-webfont.woff") format("woff"), url("fonts/Lato-Bla-webfont.ttf") format("truetype"), url("fonts/Lato-Bla-webfont.svg#latoblack") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latoblack';
    src: url("fonts/Lato-Black-webfont.eot");
    src: url("fonts/Lato-Black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Black-webfont.woff2") format("woff2"), url("fonts/Lato-Black-webfont.woff") format("woff"), url("fonts/Lato-Black-webfont.ttf") format("truetype"), url("fonts/Lato-Black-webfont.svg#latoblack") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latoblack_italic';
    src: url("fonts/Lato-BlackItalic-webfont.eot");
    src: url("fonts/Lato-BlackItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-BlackItalic-webfont.woff2") format("woff2"), url("fonts/Lato-BlackItalic-webfont.woff") format("woff"), url("fonts/Lato-BlackItalic-webfont.ttf") format("truetype"), url("fonts/Lato-BlackItalic-webfont.svg#latoblack_italic") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latoblack_italic';
    src: url("fonts/Lato-BlaIta-webfont.eot");
    src: url("fonts/Lato-BlaIta-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-BlaIta-webfont.woff2") format("woff2"), url("fonts/Lato-BlaIta-webfont.woff") format("woff"), url("fonts/Lato-BlaIta-webfont.ttf") format("truetype"), url("fonts/Lato-BlaIta-webfont.svg#latoblack_italic") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latobold';
    src: url("fonts/Lato-Bol-webfont.eot");
    src: url("fonts/Lato-Bol-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Bol-webfont.woff2") format("woff2"), url("fonts/Lato-Bol-webfont.woff") format("woff"), url("fonts/Lato-Bol-webfont.ttf") format("truetype"), url("fonts/Lato-Bol-webfont.svg#latobold") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latobold';
    src: url("fonts/Lato-Bold-webfont.eot");
    src: url("fonts/Lato-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Bold-webfont.woff2") format("woff2"), url("fonts/Lato-Bold-webfont.woff") format("woff"), url("fonts/Lato-Bold-webfont.ttf") format("truetype"), url("fonts/Lato-Bold-webfont.svg#latobold") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latobold_italic';
    src: url("fonts/Lato-BoldItalic-webfont.eot");
    src: url("fonts/Lato-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-BoldItalic-webfont.woff2") format("woff2"), url("fonts/Lato-BoldItalic-webfont.woff") format("woff"), url("fonts/Lato-BoldItalic-webfont.ttf") format("truetype"), url("fonts/Lato-BoldItalic-webfont.svg#latobold_italic") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latobold_italic';
    src: url("fonts/Lato-BolIta-webfont.eot");
    src: url("fonts/Lato-BolIta-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-BolIta-webfont.woff2") format("woff2"), url("fonts/Lato-BolIta-webfont.woff") format("woff"), url("fonts/Lato-BolIta-webfont.ttf") format("truetype"), url("fonts/Lato-BolIta-webfont.svg#latobold_italic") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latohairline';
    src: url("fonts/Lato-Hai-webfont.eot");
    src: url("fonts/Lato-Hai-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Hai-webfont.woff2") format("woff2"), url("fonts/Lato-Hai-webfont.woff") format("woff"), url("fonts/Lato-Hai-webfont.ttf") format("truetype"), url("fonts/Lato-Hai-webfont.svg#latohairline") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latohairline_italic';
    src: url("fonts/Lato-HaiIta-webfont.eot");
    src: url("fonts/Lato-HaiIta-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-HaiIta-webfont.woff2") format("woff2"), url("fonts/Lato-HaiIta-webfont.woff") format("woff"), url("fonts/Lato-HaiIta-webfont.ttf") format("truetype"), url("fonts/Lato-HaiIta-webfont.svg#latohairline_italic") format("svg");
    font-weight: normal;
    font-style: normal;
}


/*#endregion*/

/*#region MAIN*/
div.fp-tableCell {
    vertical-align: inherit !important;
}

.alert-danger {
    color: #01262f;
}

.browsehappy {
    font-size: 1.4em;
    position: fixed;
    z-index: 99999;
    height: 55px;
    width: 100%;
    text-align: center;
    top: 0;
    margin: 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    background: image-url("/images/background2a.png") no-repeat center center fixed;
    background-color: #01262f !important;
    -ms-background-size: cover !important;
    background-size: cover !important;
}

body {
    font-family: "latobold";
    background-color: transparent !important;
    padding: 0;
}

.jumbotron {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.container-fluid > #navbar-sub {
    background-color: #7F7F7F;
    margin-left: -15px;
    width: 100vw;
    li {
        padding-top: 0;
        padding-bottom: 15px;

        a{
            color: #333;
        }
        a.selected{
            color: #fff;
        }
    }
}

img.overlay {
    background-color: #ffffff;
    opacity: .7;
    position: absolute;
    z-index: 999;
    height: 67px;
    width: 67px;
    margin-top: -5px;
    margin-left: -5px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.navbar-inverse .navbar-nav > li > a.selected {
    color: #ffffff;
}

.card-container-outer {
    height: auto;
    width: 252px;
    position: relative;
    img.spinner {
        border: none;
        background: none;
        height: 50px;
        margin-left: -25px;
        margin-top: 20%;
        width: 50px;
        position: absolute;
        z-index: 3;
    }
    .card-container {
        height: auto;
        width: 252px;
        margin: 0 10px 10px 0;
        position: relative;
        z-index: 2;
        img {
            border: solid 1pt silver;
            background: #5993a9;
        }
        img.h_thumbnail {
            width: 100%;
            height: 144px;
        }
        div {
            position: absolute;
            border-radius: 10px;
            border: solid 1pt #666666;
            background: #d3d3d3;
            color: #000000;
            text-align: center;
            padding: 10px;
            opacity: .6;
        }
        div.h_thumbnail {
            width: 200px;
            margin-left: 26px;
            margin-top: -95px;
        }
        div.v_thumbnail {
            width: 100px;
            margin-left: 77px;
            margin-top: -175px;
        }
        img.v_thumbnail {
            width: 144px;
            height: 252px;
            /*margin: -116px 0 0 -72px;*/
        }
    }
    .card-container.waiting {
        opacity: .4;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background: #ffffff;
    font-family: Lato;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
    h1 {
        font-family: latoblack;
        color: #004b5c;
    }
    h2 {
        font-family: latobold;
        color: #2589a0;
    }
    h3 {
        color: #013c49;
    }
    h1.small, h2.small, h3.small {
        font-family: latohairline_italic;
    }
}

ul.visability-options {
    text-align: left;
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    li {
        margin-top: 10px;
    }
    .well p {
        text-align: left;
        font-size: 14px;
        font-weight: normal;
    }
}

.fixedLabel {
    width: 120px;
    margin-left: -120px;
    text-align: right;
}

.card-image-inner {
    width: 252px;
    margin-left: auto;
    margin-right: auto;
    label {
        padding: 4px;
    }
}

div.jumbotron-contactinfo {
    padding: 10px 15px;
}

div.form-group.contactInfo,
div.input-group.contactInfo {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

div.input-group input.contactInfo {
    max-width: 100%;
}

a.removePhone img,
a.addPhone img {
    padding: 5px;
    height: 35px;
    width: 35px;
}

form.form-inline div.phoneNumbers {
    display: block;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 5px;
    .form-control {
        display: inline-block;
    }
}

/*#region TAGS*/
div.tag-list-container {
    border: solid 1pt silver;
    border-radius: 10px;
    margin-top: 7px;
    min-height: 55px;
    text-align: left;
    ul {
        margin: 0;
        padding: 5px;
    }
}

ul#tagList {
    list-style: none;
    margin-top: 15px;
}

input#btnAddTag {
    padding: 2px 7px 2px 7px;
}

li#tagTemplate {
    display: none;
}

span.removeTag {
    cursor: pointer;
    padding: 6px;
    color: #ffffff;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: lato;
}

li.tag {
    border-radius: 4px;
    display: inline-block;
    width: auto;
    margin: 5px;
}

li.tag.UserTag {
    background: #004b5c;
}

li.tag.SystemTag {
    background: #BDB76B;
}

li.tag div {
    margin: 4px;
    color: #fff;
    padding: 3px;
    vertical-align: top;
}

li.tag div label.tagName {
    display: inline-block;
}

/*endregion*/

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/*#endregion*/

/*MENU OVERRIDE*/
body {
    font-family: "latoblack";
}

.nav > li > a {
    padding: 15px 10px 0 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav > li > span {
    color: #558c99;
    padding: 10px 0px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
    color: #558c99;
    /*border-right: solid 1pt #558c99;*/
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: inherit;
    color: #558c99;
}

/*#region LOGIN*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 10px;
}

.wait-spinner {
    height: 50px;
    width: 50px;
    display: block;
}

/*#endregion*/

/*#region FRAME 1*/
section.frame1 {
    background: image-url("/images/background2a.png");
    background-color: #01262f !important;
    -ms-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    padding: 40px 10% !important;
    a.logo {
        position: absolute;
        left: 70px;
        top: 16px;
        width: 304px;
        height: 72px;
        z-index: 117;
    }
    a.logo img {
        width: 100%;
        height: 100%;
    }
    a, h1 {
        color: #ffffff;
    }
    span.title {
        font-size: 64px;
        font-family: "latoblack";
        font-weight: bold;
        color: rgb(247, 248, 248);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        position: absolute;
        left: 94px;
        top: 224.829px;
        width: 386px;
        height: 109px;
        z-index: 108;
    }
    ul {
        position: absolute;
        left: 45px;
        top: 386px;
        width: 380px;
        height: 36px;
        z-index: 107;
    }
    div.storelinks {
        font-size: 14px;
        font-family: "latobold";
        color: rgb(171, 196, 208);
        line-height: 1.286;
        position: absolute;
        left: 94px;
        margin-top: 20px;
        top: 442px;
        z-index: 109;
        a {
            margin-left: 10px;
        }
        a:hover {
            text-decoration: none;
        }
    }
    ul.sublinks li {
        color: rgb(247, 248, 248);
        display: inline-block;
        font-size: 18px;
        font-family: "latohairline";
        font-weight: bold;
        line-height: 1.2;
        margin-left: 10px;
    }
    div.links {
        font-size: 16px;
        font-family: "latobold";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.125;
        text-align: right;
        position: absolute;
        left: 594.448px;
        top: 45px;
        width: 388px;
        height: 16px;
        z-index: 116;
    }
    div.image-right-side {
        position: absolute;
        bottom: 0;
        left: 650px;
        z-index: 93;
        zoom: 1.1;
    }
}

/*#endregion*/

/*#region FRAME 2*/
section.frame2 {
    background: image-url("/images/texture2.png");
    background-color: #bed5df !important;
    -ms-background-size: cover !important;
    background-size: cover !important;
    background-repeat: repeat;
    .title {
        font-size: 60px;
        font-family: "latoblack";
        color: rgb(37, 137, 160);
        line-height: 0.867;
        position: absolute;
        margin-left: 470px;
        top: 100px;
        width: 428px;
        height: 150px;
        z-index: 81;
        .normal {
            color: #2589a0;
        }
        .dark {
            color: #004b5c;
        }
    }
    .tablet {
        /*background-image: image-url("tablet.png");*/
        position: absolute;
        left: 0px;
        top: 50px;
        width: 401px;
        height: 625px;
        z-index: 77;
    }
    .registerLink {
        border-width: 1px;
        border-color: rgb(1, 60, 73);
        border-style: solid;
        border-radius: 7px;
        font-weight: bold;
        position: absolute;
        left: 490px;
        padding-top: 4px;
        top: 575px;
        width: 185px;
        height: 31px;
        text-align: center;
        z-index: 84;
    }
    ul.details {
        font-size: 20px;
        font-family: "latohairline";
        font-weight: bold;
        color: rgb(90, 146, 168);
        line-height: 1.2;
        position: absolute;
        left: 459.203px;
        top: 300px;
        width: 526px;
        height: 205px;
        z-index: 82;
        li {
            margin-top: 20px;
        }
    }
}

/*#endregion*/

/*#region FRAME 3*/
section.frame3 {
    background-color: #4f8498;
    -ms-background-size: cover !important;
    background-size: cover;
    background-repeat: repeat;
    opacity: 1;
    .title {
        font-size: 60px;
        font-family: "latoblack";
        color: rgb(1, 60, 73);
        line-height: 0.867;
        position: absolute;
        left: 145.002px;
        top: 120px;
        width: 267px;
        height: 150px;
        z-index: 57;
        .light {
            color: #c0d5df;
        }
    }
    .details {
        font-size: 24px;
        font-family: "latohairline";
        font-weight: bold;
        color: rgb(188, 210, 221);
        line-height: 1.2;
        position: absolute;
        left: 150.984px;
        top: 300px;
        width: 416px;
        height: 135px;
        z-index: 59;
    }
    .rightImage {
        /*background-image: image-url("tablet.png");*/
        position: absolute;
        left: 100%;
        margin-left: -401px;
        top: 50px;
        width: 401px;
        height: 625px;
        z-index: 77;
    }
    .searchLink {
        font-family: "latoblack";
        border-width: 1px;
        border-color: rgb(1, 60, 73);
        border-style: solid;
        border-radius: 7px;
        color: rgb(192, 213, 223);
        padding-top: 4px;
        position: absolute;
        left: 155px;
        top: 490px;
        width: 131px;
        height: 31px;
        text-align: center;
        z-index: 60;
    }
}

/*#endregion*/

/*#region FRAME 4*/
section.frame4 {
    background: image-url("/images/texture4.png");
    background-color: #004352;
    -ms-background-size: cover !important;
    background-size: cover !important;
    background-repeat: repeat;
    opacity: 1;
    div.blocks {
        left: 0;
        position: absolute;
        top: 172px;
        width: 411px;
        z-index: 43;
        div.block {
            color: #ffffff;
            height: 44px;
            font-size: 20px;
            font-family: "latohairline";
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.2;
            padding-top: 10px;
        }
        div.block0 {
            background-color: #013c49;
            width: 86%;
        }
        div.block1 {
            background-color: #2589a0;
            width: 94%;
        }
        div.block2 {
            background-color: #73a4b7;
            width: 100%;
        }
        div.block3 {
            background-color: #abc4d0;
            width: 92%;
        }
        div.block4 {
            background-color: #4bbfa3;
            width: 86%;
        }
        div.block5 {
            background-color: #01596c;
            width: 80%;
        }
        div.block6 {
            background-color: #6ea6b3;
            width: 86%;
        }
        div.block7 {
            background-color: #2691bb;
            width: 92%;
        }
        div.block8 {
            background-color: #2d626d;
            width: 100%;
        }
    }
    div.title-block {
        position: absolute;
        left: 490px;
        top: 180px;
        width: 500px;
        .title {
            color: #5993a9;
            font-family: "latoblack";
            font-size: 75px;
            letter-spacing: 10px;
            text-transform: uppercase;
            text-align: justify;
            -ms-text-justify: inter-word;
            text-justify: inter-word;
            width: 100%;
        }
        .title2 {
            color: #c0d5df;
            font-size: 61px;
            letter-spacing: 5px;
        }
        .title3 {
            color: #5993a9;
            font-size: 60px;
            letter-spacing: inherit;
        }
    }
    div.details {
        font-size: 26px;
        font-family: "latohairline";
        font-weight: bold;
        color: rgb(188, 210, 221);
        line-height: 1.2;
        position: absolute;
        left: 490px;
        margin-top: 430px;
        width: 500px;
        height: 56px;
        z-index: 32;
    }
}

/*#endregion*/

/*#region FRAME 5*/
section.frame5 {
    background-color: #002d37;
    -ms-background-size: cover !important;
    background-size: cover;
    background-repeat: repeat;
    opacity: 1;
    div.title-block {
        font-size: 55px;
        font-family: "latoblack";
        text-transform: uppercase;
        position: absolute;
        left: 160px;
        top: 110px;
        width: 320px;
        height: 145px;
        line-height: 1;
        z-index: 15;
        .title {
            color: #5993a9;
            width: 100%;
        }
        .title2 {
            color: #c0d5df;
        }
        .title3 {
            color: #5993a9;
        }
    }
    .details {
        font-size: 30px;
        font-family: "latohairline";
        font-weight: bold;
        color: rgb(188, 210, 221);
        line-height: 1.2;
        position: absolute;
        left: 160px;
        top: 310px;
        width: 428px;
        height: 172px;
        z-index: 14;
    }
    div.registerContainer {
        position: absolute;
        left: 160px;
        top: 440px;
        z-index: 109;
        a.registerLink {
            color: rgb(188, 210, 221);
            font-family: "latobold";
            font-size: 24px;
            margin-right: 20px;
        }
    }
    div.storelinks {
        font-size: 14px;
        font-family: "latobold";
        color: rgb(171, 196, 208);
        line-height: 1.286;
        position: absolute;
        left: 160px;
        top: 570px;
        z-index: 109;
        a {
            margin-left: 10px;
        }
        a:hover {
            text-decoration: none;
        }
    }
    div.imgRightSide {
        position: absolute;
        bottom: 50px;
        left: 680px;
    }
    .site-footer {
        background-color: #abc4d0;
        height: 60px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        position: absolute;
        bottom: 0px;
        text-align: center;
        padding: 15px 25px;
        a.site-link {
            font-size: 14px;
            color: rgb(0, 75, 92);
            font-family: 'latoblack';
            margin: 0 10px;
        }
        div.trademark {
            display: inline-block;
            color: rgb(115, 164, 183);
            font-family: "latoblack";
            font-size: 16px;
        }
    }
}

/*#endregion*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /*.container {
        max-width: 730px;
    }*/
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}