@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <p><h1 class="error">(well that went badly)</h1></p>
    <h2 class="error">Please keep in mind that we're still in the testing phase.</h2>
</hgroup>
