@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "New Error";
}

<hgroup class="title">
    <p><h1>(well that went badly)<img style="height:100px;margin-left:60px;" src="~/Images/BusidexLogoError.png"/></h1></p>
    <h2>Please keep in mind that we're still in the testing phase.</h2>
</hgroup>