<?xml version="1.0"?>
<configuration>

  <connectionStrings>
      <!--<add name="busidexConnectionString"
          connectionString="Data Source=174.37.255.232,777;Initial Catalog=busidex;User ID=vinbrown2;Password=Ride9736;Max Pool Size=50"
          providerName="System.Data.SqlClient" />-->
    <add name="busidexConnectionString" connectionString="Server=(local);Database=busidex;User ID=vinbrown2;Password=Ride9736;Trusted_Connection=true;Connection Timeout=30;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"></customErrors>
      <!--<authorization>
          <allow users="*"/>
      </authorization>-->
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding"></binding>
      </wsHttpBinding>
    </bindings>
    <extensions>
      <bindingExtensions>
        <add name="WSHttpBinding" type="System.ServiceModel.WSHttpBinding, System.ServiceModel" />
      </bindingExtensions>
    </extensions>
      <services>
          <service name="Busidex.Services.BusidexService">
              <endpoint address="Busidex.Services.BusidexService" binding="WSHttpBinding" kind="webHttpEndpoint" contract="Busidex.Services.IBusidexService" />
          </service>
      </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"  />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>        
      </serviceBehaviors>
    </behaviors>
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
          <serviceActivations>
              <add service="BusidexServices.BusidexService" relativeAddress="BusidexServices.BusidexService.svc"/>
          </serviceActivations>
      </serviceHostingEnvironment>
      <standardEndpoints>
          <webHttpEndpoint>
              <standardEndpoint helpEnabled="true" automaticFormatSelectionEnabled="false" crossDomainScriptAccessEnabled="true" />
          </webHttpEndpoint>
      </standardEndpoints>
  </system.serviceModel>
   
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="false"/>
  </system.webServer>
  
</configuration>
               <!--The type 'BusidexServices.BusidexService', provided as the Service attribute value in the ServiceHost directive,
               or provided in the configuration element system.serviceModel/serviceHostingEnvironment/serviceActivations could not be found-->