<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    -->
    <connectionStrings>
      <add name="busidex" 
        connectionString="Server=tcp:uh0wjvjdvz.database.windows.net,1433;Database=Busidex;User ID=vinbrown2@uh0wjvjdvz;Password=Ride9736;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="StorageConnection"
        connectionString="DefaultEndpointsProtocol=http;AccountName=busidexcdn;AccountKey=dLzV8b5NLPzaoXe9WbZ8Xm3HmNznXbalNIs2ooCrWDWmKCh/Eqp9SKhO6UrEAfNpwYrotN1gfanGKoYFPL29Bw=="
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="BusidexDataContainer" 
           connectionString="metadata=res://*/DataAccess.BusidexData.csdl|res://*/DataAccess.BusidexData.ssdl|res://*/DataAccess.BusidexData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:uh0wjvjdvz.database.windows.net,1433;initial catalog=busidex;integrated security=False;user id=vinbrown2@uh0wjvjdvz;password=Ride9736;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
           providerName="System.Data.EntityClient" 
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="busidexEntities" 
           connectionString="metadata=res://*/DataAccess.BusidexData.csdl|res://*/DataAccess.BusidexData.ssdl|res://*/DataAccess.BusidexData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:uh0wjvjdvz.database.windows.net,1433;initial catalog=busidex;integrated security=False;persist security info=True;user id=vinbrown2@uh0wjvjdvz;password=Ride9736;multipleactiveresultsets=True;connect timeout=30;application name=EntityFramework&quot;" 
           providerName="System.Data.EntityClient"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>