<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://busidex.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>busidex</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>busidex.vinbrown@gmail.com</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="vinbrown2_busidexConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:l1hwp5ngp9.database.windows.net,1433;Initial Catalog=busidex_db;User ID=vinbrown2_BUSIDEX_WUSR;Password=MeanieChetto" Name="Data Source=tcp:l1hwp5ngp9.database.windows.net,1433;Initial Catalog=busidex_db;User Id=vinbrown2_BUSIDEX_WUSR;Password=MeanieChetto;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=174.37.255.232,777;Initial Catalog=vinbrown2_busidex;User ID=vinbrown2_BUSIDEX_WUSR;Password=MeanieChetto;Max Pool Size=50" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\vinbrown2_busidexConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=174.37.255.232,777;Initial Catalog=vinbrown2_busidex;User ID=vinbrown2_BUSIDEX_WUSR;Password=MeanieChetto;Max Pool Size=50" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="StorageConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=http;AccountName=busidexcdn;AccountKey=lRU11uVEahimhO+5uwyUAQeA3HzFwM5w3vnSPji3A6NjR8tRtDwU+syA8lV41DyOm3A1QE379E75gFDP9SuvyA==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=http;AccountName=busidexcdn;AccountKey=lRU11uVEahimhO+5uwyUAQeA3HzFwM5w3vnSPji3A6NjR8tRtDwU+syA8lV41DyOm3A1QE379E75gFDP9SuvyA==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <AzureAuthenticationAppPrincipalID />
    <AzureAuthenticationTenantID />
    <AzureAuthenticationReplyUrl />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)vinbrown2_busidexConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:l1hwp5ngp9.database.windows.net,1433;Initial Catalog=busidex_db;User Id=vinbrown2_BUSIDEX_WUSR;Password=MeanieChetto;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>