/* Smartphones (portrait) ----------- */
@media screen and (max-width: 360px) {
  /* Styles */
  div.section.frame1 {
    padding: 20px 5% !important; }
    div.section.frame1 a.logo {
      left: 0;
      height: 40px;
      width: 145px;
      top: 0; }
    div.section.frame1 div.links {
      font-size: 14px;
      left: 0;
      line-height: 1.3;
      text-align: left;
      top: 55px;
      width: 300px; }
      div.section.frame1 div.links a, div.section.frame1 div.links span {
        float: left;
        padding: 2px 5px; }
    div.section.frame1 span.title {
      font-size: 44px;
      left: 0;
      top: 110px;
      width: 240px; }
    div.section.frame1 ul.sublinks {
      left: 0;
      padding: 0;
      top: 250px;
      width: 250px; }
      div.section.frame1 ul.sublinks li {
        line-height: 1.3;
        margin-left: 0; }
    div.section.frame1 div.storelinks {
      left: 0;
      top: 320px; }
    div.section.frame1 div.image-right-side {
      display: none; }

  div.section.frame2 div.title {
    font-size: 40px;
    line-height: 1;
    margin-left: 0;
    top: 15px; }
  div.section.frame2 ul.details {
    font-size: 17px;
    left: 0;
    width: 280px;
    top: 135px; }
    div.section.frame2 ul.details li {
      margin-top: 10px; }
  div.section.frame2 a.registerLink {
    left: 60px;
    top: 365px; }
  div.section.frame2 img.tablet {
    display: none; }

  div.section.frame3 img.rightImage {
    display: none; }
  div.section.frame3 .title {
    font-size: 44px;
    left: 10px;
    line-height: 1;
    top: 30px; }
  div.section.frame3 .details {
    font-size: 17px;
    left: 10px;
    top: 170px;
    width: 260px; }
  div.section.frame3 a.searchLink {
    left: 10px;
    top: 340px; }

  div.section.frame4 div.blocks {
    top: 245px;
    left: -20px; }
    div.section.frame4 div.blocks .block4, div.section.frame4 div.blocks .block5, div.section.frame4 div.blocks .block6, div.section.frame4 div.blocks .block7, div.section.frame4 div.blocks .block8 {
      display: none; }
  div.section.frame4 div.title-block {
    left: 10px;
    line-height: 35px;
    top: 10px; }
    div.section.frame4 div.title-block .title {
      font-size: 35px; }
    div.section.frame4 div.title-block .title2 {
      font-size: 32px; }
    div.section.frame4 div.title-block .title3 {
      font-size: 35px; }
  div.section.frame4 div.details {
    font-size: 24px;
    left: 10px;
    margin-top: 80px;
    width: 260px; }

  div.section.frame5 div.title-block {
    font-size: 40px;
    top: 20px;
    left: 10px; }
  div.section.frame5 .details {
    font-size: 20px;
    top: 150px;
    left: 10px;
    width: 250px; }
  div.section.frame5 div.registerContainer {
    left: 10px;
    top: 270px; }
    div.section.frame5 div.registerContainer a.registerLink {
      font-size: 18px; }
    div.section.frame5 div.registerContainer img {
      height: 50px; }
  div.section.frame5 div.storelinks {
    left: 10px;
    top: 350px; }
  div.section.frame5 div.imgRightSide {
    display: none; }
  div.section.frame5 .site-footer {
    display: none; }
  div.section.frame5 div.trademark {
    margin-right: 43%; }
 }

/*# sourceMappingURL=media_maxw320.css.map */