<style type="text/css">
    body {
        background: #4f8498;
    }
</style>
<div class="faq"></div>
<div class="container-fluid" style="position: relative; z-index: 2" >
    <h1>Frequently Asked Questions</h1>
    <ul style="color: #fff; list-style: none;"> 
        <li faq question="'How do I create my Busidex account?'" answer="
            'You can create your busidex account by going to <a href=\'https://register.busidex.com\' target=\'_blank\'>the registration page</a>.
             Once you finish the registration, you will automatically be taken to a page to add your card. Click here to see <a target=\'_blank\' href=\'https://prezi.com/coly5tilkcdo/opening-an-account-with-busidex-13/#\'>see a quick presentation</a>
             that explains the whole process in detail.'
        "></li>
        <li faq question="'How do I add or edit my card on Busidex?'" answer="
            'You will need to create an account before you can add your card. <a href=\'https://start.busidex.com\' target=\'_blank\'>Click here to create an account.</a>
             Before you start, please be sure to have scanned or taken a picture of your card (both sides if necessary).
             Then simply follow the steps to upload your business card. This presentation will guide you on How to Add/Edit Your Card.
             <iframe id=\'iframe_container\' frameborder=\'0\' webkitallowfullscreen=\'\' mozallowfullscreen=\'\' allowfullscreen=\'\' width=\'750\' height=\'400\' src=\'https://prezi.com/embed/yloozzw7occd/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=1&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE43MHdLNWpsdFJLb2ZHanI0NUJkcE42QXZ3SWZoTnFsTE5KM0g1dVFRPT0&amp;landing_sign=jP1Es2MMdPiugHYmYWwRF0V2RHxk34h3__LxTq2dExo%22%3E%3C/iframe\'>'
             ">
        </li>
        <li faq question="'What do I do if I forget my username or password?'" answer="
            '<p>If you forget your username, you can use <a href=\'https://pro.busidex.com/#/account/usernamerecover\' target=\'_blank\'>this link</a> to recover
            it. You just have to enter the email address with which you registered. Then click \'Send UserName Recovery Email\'. </p>
            <p>If you forget your password, use <a href=\'#/account/passwordrecover\'>this link</a> to recover
            it and follow the same steps.</p>
            <p><strong>*Important*</strong> This email address may or may not be the email address that is on your business card. We will then send you an 
            email with your username.</p>'"></li>
        <li faq question="'What is Busdex and what will it do for me?'" answer="
            'Busidex is an online business platform that empowers your business card. Your business card becomes a productivity, marketing, 
            networking and community tool. All you need to do is give out your business card and let them know your business card is on Busidex. 
            We will do the rest. Click here to <a target=\'_blank\' href=\'https://prezi.com/jdk2y2-pfk0v/what-is-busidex/\'>see a detailed presentation</a>
            where we explain exactly how this works.'"></li>
        <li faq question="'I am looking for a person\'s card, but I can\'t find it on Busidex.'" answer="
            'It could be that the person you are looking for hasn\'t joined Busidex yet. If that is the case, then let them know what
            they are missing out on! If you are sure they are on Busidex, then it could be you aren\'t using the right search terms. When
            searching for a card, try using keywords in your search. For example, if you are searching for a loan officer, then you might try
            searching using terms like \'bank\' or \'loan\'. Or perhaps you could try searching for the name of the company for which they work.'"></li>
    </ul>
</div>