<style type="text/css">
    html {
        background: url('https://az381524.vo.msecnd.net/images/background2.png') no-repeat center center fixed;
        background-color: #01262f !important;
        -ms-background-size: cover !important;
        background-size: cover !important;
    }
</style>
<div class="container" ng-controller="LogoutController as vm">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-2">

            <div class="account-wall">
                <img class="profile-img" src="../images/busidex_icon_100x100.png"
                     alt="">
                <form class="form-signin">
                    <h3 style="text-align: center;">You have been logged out</h3>
                    <h4 style="text-align: center;">
                        <a style="text-align: center;" ng-href="#/login" class="need-help">Sign In Again </a><br/><br/>
                        <a style="text-align: center;" ng-href="#/main" class="need-help">Back to Home </a>
                    </h4>
                </form>
            </div>

        </div>
    </div>
</div>