<style type="text/css">
    body {
        background: #000000;
    }
</style>
<div class="release-notes"></div>
<div class="container-fluid content" style="position: relative; z-index: 2">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Release Notes</h1>
            <div class=" well well-large release">
                <h3>7/11/2015</h3>
                <ul class="release-list">
                    <li class="heading">New Features</li>
                    <li>Site re-branding: initial launch</li>
                    <li>New graphs for card statistics</li>
                    <li>FAQ page</li>
                    <li>Details and Thumbnail views in search results</li>
                    <li class="heading">Bug Fixes</li>
                    <li>Fixed an issue in Internet Explorer where the page for editing a card would not load.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
