<style type="text/css">
    body {
        background: #4f8498;
    }
</style> 
<div>
    <div class="row">
        <div class="col-sm-8 col-md-6 col-md-offset-3">
            <div class="well" style="margin-top:20px;">
                <p>
                    Busidex takes security, privacy and the integrity of the information contained on our platform very seriously. If you have any concerns
                    about a particular card that you feel is being misrepresented in some way, you may use this link
                    to send us an email and we will investigate the matter. Please include as much detail as you can so we may fully understand
                    your concern and address it properly.
                </p>
                <p>
                    <a target="_blank" href="mailto:busidex.abuse@gmail.com" style="text-decoration: underline;">Report Abuse</a>
                </p>
            </div>
        </div>
    </div>
</div>