
<div class="row" style="margin-top: 20px;">
    <h2>Newsletter Archive</h2>
    <div class="well">
        <ul>
            <li>
                <a class="btn btn-link" href="#/newsletters/newsletter_1">Busidex Newsletter #1 - 5/25/2014</a>
            </li>
            <li>
                <a class="btn btn-link" href="#/newsletters/newsletter_2">Busidex Newsletter #2 - 6/1/2014</a>
            </li>
            <li>
                <a class="btn btn-link" href="#/newsletters/newsletter_3">Busidex Newsletter #3 - 6/8/2014</a>
            </li>
            <li>
                <a class="btn btn-link" href="#/newsletters/newsletter_4">Busidex Newsletter #4 - 6/15/2014</a>
            </li>
            <li>
                <a class="btn btn-link" href="#/newsletters/newsletter_5">Busidex Newsletter #5 - 6/22/2014</a>
            </li>
            <li>
                <a class="btn btn-link" href="#/newsletters/newsletter_6">Busidex Newsletter #6 - 6/29/2014</a>
            </li>
            <li>
                <a class="btn btn-link" href="#/newsletters/newsletter_7">Busidex Newsletter #7 - July 2014</a>
            </li>
        </ul>
    </div>
</div>