
<div style="padding:20px; background-color:#ececec; font-family: Arial;font-size: 14px;line-height: 20px;">
    <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #425470;padding:10px 20px;">
        <div style="min-height:95px;">
            <p style="color: #d9fffd;font-size: 36px;text-align: center;margin-top: 0;margin-bottom: 30px;">
                <img src="https://az381524.vo.msecnd.net/images/BusidexLogo4a.png" style="position: relative;float:left;" />
                <h2 style="color: #d9fffd;display:block;text-align:center;line-height:30px;padding-right:55px;">
                    <span style="font-size:36px;">Busidex</span><br />
                    <span style="font-size:20px;">Bringing you to <i>them</i> and them to <i>you!</i></span>
                </h2>
            </p>
        </div>
    </div>
    <div style="width: 640px; margin-left:auto;margin-right:auto; background-color: #ffffff;padding:20px;">
        <h3 style="font-size: 18px; line-height: 24px; color: #c25130; margin-top: 0; margin-bottom: 18px;">Busidex Newsletter - July 2014</h3>
        <div align="left" style="color: #444444;margin-top: 0;margin-bottom: 18px;">
            <p>
                Hope everyone is having a busy summer (and getting some vacation time in as well). I'd like to take this opportunity to give a huge thanks
                to our beta testers for their incredible feedback. Thanks to their comments and suggestions, we have been able to fix many usability issues
                and will be rolling out some great new features over the next few weeks.
            </p>
        </div>
        <div style="color: #444444;margin-top: 0;margin-bottom: 18px;">
            <p>
                <div>
                    <strong>There's an App for That!</strong>
                </div>
                <div>
                    The Busidex Mobile App is in the process of getting a complete rewrite. The new application will have a better user interface (UI) design
                    and will have some additional new features that are aimed at making it dead simple for users to find and add your card to their collection.
                </div>
            </p>
            <p>
                <div>
                    <strong>Take a Look At Me Now!</strong>
                </div>
                <div>
                    Well, not *now*, exactly, but very soon, the Busidex website will be getting a facelift. This month we'll be working with a design partner to
                    enhance the look and feel of our website to make it easier to navigate and give it an overall more polished and consistent look.
                </div>
            </p>
        </div>
        <div style="color: #444444;margin-top: 0;margin-bottom: 18px;">
            <p>
                <div>
                    <strong>Featured Cards</strong>
                </div>
                <div>
                    <div style="width:66%;height: 200px;float:left;">
                        In July we had two new featured cards:
                        <a style="text-decoration:underline;" href="https://www.busidex.com/#/card/details/31832">
                            Julie LeBlanc of Keller Williams Realty
                        </a> and
                        <a style="text-decoration:underline;" href="https://www.busidex.com/#/card/details/61938">
                            Bob Mahl of North American Power
                        </a>.
                        You can add the featured card to your Busidex collection right from the
                        <a style="text-decoration:underline;" href="https://www.busidex.com">home page</a> by clicking 'Add This to Your Collection' (You need to be
                        logged in for this).
                    </div>
                    <div style="float:right;width:190px;">
                        <a style="border:solid 1pt silver;" href="https://www.busidex.com/#/card/details/31832">
                            <span>
                                <img alt="Julie LeBlanc" src="https://az381524.vo.msecnd.net/cards/b094c643-a9e2-4fd0-901e-b056aabc0d74.jpg" width="180" style="height:120px;width:180px;" />
                            </span>
                        </a>
                        <a style="border:solid 1pt silver;" href="https://www.busidex.com/#/card/details/61938">
                            <span>
                                <img alt="Bob Mahl" src="https://az381524.vo.msecnd.net/cards/09bd97c8-aa7b-46b7-915c-da9623912d20.jpg" width="180" style="height:120px;width:180px;" />
                            </span>
                        </a>
                    </div>
                </div>
            </p>
            <div style="clear:both;"></div>
        </div>
        <div style="color: #444444; margin-top: 10px;margin-bottom: 18px;">
            <h3 style="font-size: 18px;line-height: 24px; color: #c25130; margin-top: 20px;">Tell Us What You Think</h3>
            <div>
                Please take a moment for a quick (5 question) survey that will help us provide you with more value.
                <div>
                    <a style="color:#666666;font-weight:bold;text-decoration: underline;" href="https://www.busidex.com/survey.html">Take the survey</a>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;">
            <h3 style="font-size: 18px;line-height: 24px; color: #c25130; margin-top: 20px; margin-bottom: 18px;">2014 GOLF CLASSIC</h3>
        </div>
        <div style="float:left; width:48%; color: #444444; margin-top: 0; margin-bottom: 18px;">
            Busidex is happy to be participating in the REALTOR® Troop Support Task Force 2014 Golf Classic on Monday September 22 at the Potowomut Golf Club. If you're
            planning on attending, stop by our table and say hi.
        </div>
        <div style="float:left; width: 40%;">
            <a href="https://www.facebook.com/RealtorTroopSupport?sk=wall" target="_blank">
                <img style="border:none;width:300px;" src="https://www.busidex.com/img/RealtorFoundation.png">
            </a>
        </div>
        <div style="clear:both;"></div>
        <div style="color: #444444; margin-top: 10px;margin-bottom: 18px;">
            <div>
                <h3>Follow Us On Twitter!</h3>
            </div>
            <div style="float:left;width: 10%;">
                <img src="https://www.busidex.com/img/twitter.png" style="height:50px;width:50px;" />
            </div>
            <div style="float:left; width:70%; color: rgb(51, 51, 51);">
                <a style="color:#666666;font-weight:bold;" href="https://twitter.com/Busidex">Get the latest Tweets from Busidex</a>
                for links to helpful resources and some great tips on how to increase your business.
            </div>
            <div style="clear:both;">&nbsp;</div>
        </div>
    </div>
    <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #425470;padding:10px 20px;">
        <p style="color:#ffffff;font-size:13px;">
            You're receiving this because you own an active account on Busidex.com.
        </p>
    </div>
</div>