
<div style="padding:20px; background-color:#ececec; font-family: Arial;font-size: 14px;line-height: 20px;">
    <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #425470;padding:10px 20px;">
        <div style="min-height:95px;">
            <p style="color: #d9fffd;font-size: 36px;text-align: center;margin-top: 0;margin-bottom: 30px;">
                <img src="https://az381524.vo.msecnd.net/images/BusidexLogo4a.png" style="position: relative;float:left;" />
                <h2 style="color: #d9fffd;display:block;text-align:center;line-height:30px;padding-right:55px;">
                    <span style="font-size:36px;">Busidex</span><br />
                    <span style="font-size:20px;">Bringing you to <i>them</i> and them to <i>you!</i></span>
                </h2>
            </p>
        </div>
    </div>
    <div style="width: 640px; margin-left:auto;margin-right:auto; background-color: #ffffff;padding:20px;">
        <h3 style="font-size: 18px; line-height: 24px; color: #c25130; margin-top: 0; margin-bottom: 18px;">Busidex Holiday Bustle</h3>
        <div align="left" style="color: #444444;margin-top: 0;margin-bottom: 18px;">
            <p>
                You are not alone in this holiday bustle!  Busidex has been busy improving and promoting our product to continue to empower
                your business card and get your business in touch with an expanding network.  We wanted to provide our users with some brief
                updates on what we are doing.
            </p>
        </div>
        <div style="color: #444444;margin-top: 0;margin-bottom: 18px;">
            <p>
                <div>
                    <strong>BNI International</strong>
                </div>
                <div>
                    Busidex is now a member of BNI International, also known as Business Networking and Referrals!  This is excellent news for our
                    book of business and will help Busidex expand and reach the hands of many other small businesses.
                </div>
            </p>
            <p>
                <div>
                    <strong>Getting a Facelift</strong>
                </div>
                <div>
                    We are also currently working on updating our website and are very excited for the new look and feel busidex.com will have.
                    Busidex hopes to launch our new site early 2015.
                </div>
            </p>

        </div>
        <div style="color: #444444;margin-top: 0;margin-bottom: 18px;">
            <p>
                <div>
                    <strong>Boys Town of New England</strong>
                </div>
                <div>
                    <div style="width:66%;height: 200px;float:left;">
                        This holiday season, Busidex is featuring <a style="text-decoration:underline;" href="https://www.busidex.com/#/card/details/72110">Boys Town of New England</a>.
                        This organization serves adolescents and young children in the area by providing shelter, care,
                        foster care and various other services to needy children.  Please make your donation today
                        to support this wonderful cause and help bring holiday cheer to our local children.

                    </div>
                    <div style="float:right;width:190px;">
                        <a href="https://www.busidex.com/#/card/details/72110">
                            <span>
                                <img alt="Boys Town New England" src="https://az381524.vo.msecnd.net/cards/471245ae-8bcd-4761-bc7f-b7b7fe375781.jpg" width="180" style="height:120px;width:180px;border:solid 1pt silver;" />
                            </span>
                        </a>
                    </div>
                </div>
            </p>

            <div style="clear:both;"></div>
            <p>
                Remember to encourage your customers to find you on Busidex and invite your network to join us.  Together, we can continue to
                empower our businesses and build our client base.
            </p>
        </div>
        <div style="color: #444444; margin-top: 10px;margin-bottom: 18px;">
            <h3 style="font-size: 18px;line-height: 24px; color: #c25130; margin-top: 20px;">Tell Us What You Think</h3>
            <div>
                Please take a moment for a quick (5 question) survey that will help us provide you with more value.
                <div>
                    <a style="color:#666666;font-weight:bold;text-decoration: underline;" href="https://www.busidex.com/survey.html">Take the survey</a>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
        <div style="color: #444444; margin-top: 10px;margin-bottom: 18px;">
            <div>
                <h3>Follow Us On Twitter!</h3>
            </div>
            <div style="float:left;width: 10%;">
                <img src="https://www.busidex.com/img/twitter.png" style="height:50px;width:50px;" />
            </div>
            <div style="float:left; width:70%; color: rgb(51, 51, 51);">
                <a style="color:#666666;font-weight:bold;" href="https://twitter.com/Busidex">Get the latest Tweets from Busidex</a>
                for links to helpful resources and some great tips on how to increase your business.
            </div>
            <div style="clear:both;">&nbsp;</div>
        </div>
    </div>
    <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #425470;padding:10px 20px;">
        <p style="color:#ffffff;font-size:13px;">
            You're receiving this because you own an active account on Busidex.com.
        </p>
    </div>
</div>