
<div style="padding:20px; background-color:#ececec; font-family: Arial;font-size: 14px;line-height: 20px;">
    <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #425470;padding:10px 20px;">
        <div style="min-height:95px;">
            <p style="color: #d9fffd;font-size: 36px;text-align: center;margin-top: 0;margin-bottom: 30px;">
                <img src="https://az381524.vo.msecnd.net/images/BusidexLogo4a.png" style="position: relative;float:left;" />
                <h2 style="color: #d9fffd;display:block;text-align:center;line-height:30px;padding-right:55px;">
                    <span style="font-size:36px;">Busidex</span><br />
                    <span style="font-size:20px;">Bringing you to <i>them</i> and them to <i>you!</i></span>
                </h2>
            </p>
        </div>
    </div>
    <div style="width: 640px; margin-left:auto;margin-right:auto; background-color: #ffffff;padding:20px;">
        <h3 style="font-size: 18px; line-height: 24px; color: #c25130; margin-top: 0; margin-bottom: 18px;">Busidex Newsletter - June 15th</h3>
        <div align="left" style="color: #444444;margin-top: 0;margin-bottom: 18px;">
            Things just keep getting better and better at Busidex.com. We've been listening to the questions and comments, and one common question
            that keeps coming up is rather simple and to the point: <i>What is Busidex and what can it do for me?</i> To answer this question the best way
            we can, we've put together some presentations that hopefully open everyone's eyes as to the potential and possibilities that Busidex opens
            up for our users. We'll make these available on the site, but here are the links:
            <ul>
                <li>
                    <a target="_blank" style="color: #000;text-decoration: underline;" href="http://prezi.com/ovvhea94bsjh/what-is-busidex/?utm_source=twitter&utm_medium=landing_share">What is Busidex?</a>
                </li>
                <li>
                    <a target="_blank" style="color: #000;text-decoration: underline;" href="http://prezi.com/6rfuqr3tj8uz/your-business-card-and-busidex/?utm_source=twitter&utm_medium=landing_share">Your Business Card On Busidex</a>
                </li>
            </ul>

        </div>
        <div style="color: #444444;margin-top: 0;margin-bottom: 18px;">
            <p>
                <div>
                    <strong>Featured Cards</strong>
                </div>
                <div>
                    <div style="width:66%;float:left;">
                        Have you seen who's on the Busidex home page? This week we're featuring <a style="text-decoration:underline;" href="https://www.busidex.com/#/card/details/31855">
                            Audrey Diehl of HomeSmart Professionals Real Estate
                        </a>. You can add the featured card to your Busidex collection right from the
                        <a style="text-decoration:underline;" href="https://www.busidex.com">home page</a> by clicking 'Add This to Your Collection' (You need to be
                        logged in for this).
                    </div>
                    <a style="float:right;" href="https://www.busidex.com/#/card/details/31855">
                        <img src="https://az381524.vo.msecnd.net/cards/d1777ae3-4d74-46e7-9234-edf0499c0b88.jpg" width="180" style="height:120px;width:180px;" />
                    </a>
                </div>
            </p>
            <div style="clear:both;"></div>
        </div>
        <div style="color: #444444; margin-top: 10px;margin-bottom: 18px;">
            <div>
                <strong>Follow Us On Twitter!</strong>
            </div>
            <div style="float:left;width: 10%;">
                <img src="https://www.busidex.com/img/twitter.png" style="height:50px;width:50px;" />
            </div>
            <div style="float:left; width:70%; color: rgb(51, 51, 51);">
                <a style="color:#666666;font-weight:bold;" href="https://twitter.com/Busidex">Get the latest Tweets from Busidex</a>
                and discover more great tips on how to get the most out of your Busidex account. We're picking up new followers every day,
                so be sure to check it out!
            </div>
            <div style="clear:both;">&nbsp;</div>
        </div>

        <div style="clear:both;">
            <h3 style="font-size: 18px;line-height: 24px; color: #c25130; margin-top: 20px; margin-bottom: 18px;">Realtor Conference 2014</h3>
        </div>
        <div style="float:left; width:48%; color: #444444; margin-top: 0; margin-bottom: 18px;">
            Only 2 weeks left until the RI Realtors Conference and Expo! Can you believe it? Be sure to have the Busidex App installed on your phone so you
            can share your card. Don't have it?
            <div>
                <a href="https://play.google.com/store/apps/details?id=com.busidex.mobile&amp;hl=en" target="_blank" class="btn-link">
                    <img src="https://www.busidex.com/img/google-play-lg.jpg" alt="Google Play Store" style="width:126px;">
                </a>
                <a href="https://itunes.apple.com/us/app/busidex/id801109889?ls=1&amp;mt=8#" target="_blank" class="btn-link">
                    <img src="https://www.busidex.com/img/app-store-lg.jpg" alt="iTunes App Store" style="width:123px;">
                </a>
            </div>
        </div>
        <div style="float:left; width: 40%;">
            <a href="http://www.rirealtors.org/RIARExpo/">
                <img style="border:none;width:300px;" src="https://www.busidex.com/img/conference-logo-w-blue-box-trnsp.png">
            </a>
        </div>
        <div style="clear:both;"></div>

        <h3 style="font-size: 18px;line-height: 24px;color: #c25130;margin-top: 0;margin-bottom: 18px;">We'd Love To Hear From You!</h3>

        <div align="left" style="clear:both;color: #444444;margin-top: 0;margin-bottom: 18px;">
            Is there something you were hoping to hear about that we missed in the newsletter?
            <a style="text-decoration: underline;color: #3f6569;font-weight: bold;" href="https://www.busidex.com/#/busidex/suggestions">Let us know!</a>
            We'll try to get it in the next one.
        </div>
        <div style="clear:both;"></div>
    </div>
    <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #425470;padding:10px 20px;">
        <p style="color:#ffffff;font-size:13px;">
            You're receiving this because you own an active account on Busidex.com.
        </p>
    </div>
</div>