<div style="padding:20px; background-color:#ececec; font-family: Arial;font-size: 14px;line-height: 20px;">
    <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #ffffff; padding:10px 20px;">
        <div style="min-height:95px; border-bottom: solid 1pt #444444;">
            <img src="https://www.busidex.com/img/email_header.png" style="width: 100%;" />
        </div>
    </div>
    <div style="width: 640px; margin-left:auto; margin-right:auto; background-color: #ffffff;padding:20px;">
        <h3 style="font-size: 20px; line-height: 24px; color: #2589a0; margin-top: 0; margin-bottom: 0;">Service Announcement - iPhone and Android Applications</h3>
        <div align="left" style="color: #444444; margin-top: 0; margin-bottom: 18px;">
            <p>
                We would like to make everyone aware of an issue with the iPhone and Android Busidex applications that is affecting all users
                right now. Due to a recent update to our security infrastructure - specifically, the SSL certificate which is used in
                conjunction with some of our back-end services - the iPhone and Android applications will crash on startup. This issue affects
                <strong>only the phone applicatins and not the website</strong>. <a style="text-decoration: underline" href="https://www.busidex.com">The Busidex website</a> can be
                used on your phone's browser while we address the issue.
            </p>
            <p>
                With that said, we are pleased to let you know that the Android application has already been fixed and is available for download.
                If you are an Android user, simply go to the Google Play store on your phone, search for Busidex, and update the app. If you have
                automatic updates enabled, you may not have even noticed that there was a problem.
            </p>
            <p>
                Updates to the iPhone application are unfortunately a bit harder to push out due to the nature of the iTunes Store and Apple's
                application approval policies. We have requested an expedited review of the update, and hope to have this available within a couple of
                days. Please be aware, though, that if Apple takes the full term of the review process, it could take up to 10 days.
            </p>
            <p>
                We apologize for any inconvenience this may cause you, and we continue to review our processes to try to prevent issues like this
                in the future. Sometimes (like this time) they are unavoidable. We will send another update when the iPhone update is available. Feel
                free to use <a style="text-decoration: underline" href="https://www.busidex.com">the Busidex website</a> in the meantime.
            </p>
            <p>
                Sincerely,<br/>
                The Busidex Development Team
            </p>
        </div>
    </div>
    <div style="width: 640px; margin-left:auto; margin-right:auto;font-size: 30px !important; background-color: #425470; padding:10px 20px;">
        <p style="color:#ffffff;font-size:13px;">
            You're receiving this because you own an active account on Busidex.com.
        </p>
    </div>
</div>