<div style="padding: 20px; background-color: #ececec; font-family: Arial; font-size: 14px; line-height: 20px;">
    <div style="width: 640px; margin-left: auto; margin-right: auto; font-size: 30px !important; background-color: #ffffff; padding: 10px 20px;">
        <div style="min-height: 95px; border-bottom: solid 1pt #444444;">
            <img src="https://www.busidex.com/img/email_header.png" style="width: 100%;" />
        </div>
    </div>
    <div style="width: 640px; margin-left:auto; margin-right:auto; background-color: #ffffff;padding:20px;">
        <h3 style="font-size: 20px; line-height: 24px; color: #2589a0; margin-top: 0; margin-bottom: 0;">iPhone and Android Applications - Issue Resolved</h3><div align="left" style="color: #444444; margin-top: 0; margin-bottom: 18px;"><p>We are happy to let everyone know that the issue that was mentioned in our last email has been corrected. Please update the Busidex app on your mobile device to get the latest versions of the iPhone and Android Busidex app that are now available. You can do this by either having automatic updates turned on (recommended), or by going to the Google Play Store or iTunes Store (see links below) and clicking 'Update'.</p>
            <p>
                You can get the iPhone app in <a style="text-decoration: underline" href="https://itunes.apple.com/us/app/busidex/id801109889?ls=1&mt=8#">the iTunes Store</a>.<br />
                You can get the Android app in <a style="text-decoration: underline" href="https://play.google.com/store/apps/details?id=com.busidex">the Google Play Store</a>.
            </p>
            <p>
                Sincerely,<br />
                The Busidex Development Team
            </p>
        </div>
    </div>
    <div style="width: 640px; margin-left:auto; margin-right:auto;font-size: 30px !important; background-color: #425470; padding:10px 20px;">
        <p style="color:#ffffff;font-size:13px;">
            You're receiving this because you own an active account on Busidex.com.
        </p>
    </div>
</div>