<div style="padding: 20px; background-color: #ececec; font-family: Arial; font-size: 14px; line-height: 20px;">
    <div style="width: 640px; margin-left: auto; margin-right: auto; font-size: 30px !important; background-color: #ffffff; padding: 10px 20px;">
        <div style="min-height: 95px; border-bottom: solid 1pt #444444;">
            <img src="https://www.busidex.com/img/email_header.png" style="width: 100%;" />
        </div>
    </div>
    <div style="width: 640px; margin-left:auto; margin-right:auto; background-color: #ffffff;padding:20px;">
        <h3 style="font-size: 20px; line-height: 24px; color: #2589a0; margin-top: 0; margin-bottom: 0;">Busidex Service Update</h3>
        <div align="left" style="color: #444444; margin-top: 0; margin-bottom: 18px;">
            <p>Recently, some Busidex users may have encountered an issue when trying to update their card or when trying to share their card. The issue was caused by an interruption in service with our infrastructure providers. They have taken steps to mitigate this problem, and we at Busidex have put in place additional monitoring of these systems so we are notified as soon as an outage occurs.</p>
            <p>You should update your Busidex app on your iPhone or Android device to ensure that you have the latest features and stability improvements. If you have your business card on Busidex, I encourage you to log into the site to verify that your card is up to date so your contacts and referrals will have your latest contact information.</p>
            <p>
                You can get the iPhone app in <a style="text-decoration: underline" href="https://itunes.apple.com/us/app/busidex/id801109889?ls=1&mt=8#">the iTunes Store</a>.<br/>
                You can get the Android app in <a style="text-decoration: underline" href="https://play.google.com/store/apps/details?id=com.busidex">the Google Play Store</a>.
            </p>
            <p>We apologize for any inconvenience that this interruption in service may have caused, and will continue to review our policies and procedures to ensure that we can deliver the highest quality products and services to our users. Feel free to email Busidex Support at busidex.help@gmail.com with any further questions or concerns you may have.</p>
            <p>
                Sincerely,<br />
                The Busidex Development Team
            </p>
        </div>
    </div>
    <div style="width: 640px; margin-left:auto; margin-right:auto;font-size: 30px !important; background-color: #425470; padding:10px 20px;">
        <p style="color:#ffffff;font-size:13px;">
            You're receiving this because you own an active account on Busidex.com.
        </p>
    </div>
</div>