
<div style="padding:20px; background-color:#ececec; font-family: Arial;font-size: 14px;line-height: 20px;">
    <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #ffffff; padding:10px 20px;">
        <div style="min-height:95px; border-bottom: solid 1pt #444444;">
            <img src="https://www.busidex.com/img/email_header.png" style="width: 100%;" />
        </div>
    </div>
    <div style="width: 640px; margin-left:auto; margin-right:auto; background-color: #ffffff;padding:20px;">
        <h3 style="font-size: 20px; line-height: 24px; color: #2589a0; margin-top: 0; margin-bottom: 0;">RIAR Expo 2015</h3>
        <div align="left" style="color: #444444;margin-top: 0;margin-bottom: 18px;">
            <p>We had a really great turnout for this year's RIAR Expo, and we were happy to see all of you at the Busidex table. If you were at the
                event and you haven't already uploaded your card or logged in using the link that John Day sent out last week, be sure to do so by 
                the <strong>end of the day Friday 6/12/2015</strong> so you can be included in the RIAR Expo event group. If you were an attendee and
                didn't get the link (or you simply can't find it now), just shoot us an email at <a href="mailto:busidex.help@gmail.com">busidex.help@gmail.com</a> and we'll send it to you.</p> 
            <p>Everyone who attended the event that has their card on Busidex can be found using the <strong>Search By Event</strong> 
                feature on the Search page: https://www.busidex.com/#/card/search. That way, if there's someone you met (or perhaps didn't get a chance
                to meet) with whom you want to get in contact, you can use this page to find their card easily and add it to your Busidex collection.</p>
        </div>
    </div>
     <div style="width: 640px; margin-left:auto; margin-right:auto;font-size: 30px !important; background-color: #425470; padding:10px 20px;">
        <p style="color:#ffffff;font-size:13px;">
            You're receiving this because you own an active account on Busidex.com.
        </p>
    </div>
</div>
