
<div style="padding:20px; background-color:#ececec; font-family: Arial;font-size: 14px;line-height: 20px;">
    <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #ffffff; padding:10px 20px;">
        <div style="min-height:95px; border-bottom: solid 1pt #444444;">
            <img src="https://www.busidex.com/img/email_header.png" style="width: 100%;" />
        </div>
    </div>
    <div style="width: 640px; margin-left:auto; margin-right:auto; background-color: #ffffff;padding:20px;">
        <h3 style="font-size: 20px; line-height: 24px; color: #2589a0; margin-top: 0; margin-bottom: 0;">RIAR Expo 2015</h3>
        <div align="left" style="color: #444444;margin-top: 0;margin-bottom: 18px;">
            <p>The RIAR Expo Event has been opened and is available for viewing on the Busidex website and on your phone. On the website, you can view the event
                here: <a href="https://www.busidex.com/#/card/search?_t=RIARExpo2015">https://www.busidex.com/#/card/search?_t=RIARExpo2015</a>. Or on 
                your phone, go to Events and click on RIAR Expo 2015. You are receiving this email because you have registered for a Busidex account, but 
                have not uploaded your card. While you can certainly use the Busidex phone app and website to find and share other people's business cards, 
            no one can share your card if you don't upload it.</p>
            <p>To get your card onto Busidex, simply go to <a href="https://start.busidex.com">https://start.busidex.com</a> and add your card 
            information and update your card profile. Once that is done, you can use this link to add your card to the RIAR Expo 2015 event: 
            <a href="https://www.busidex.com/#/riarexpo">https://www.busidex.com/#/riarexpo</a>. If you have any questions, feel free to 
            contact <a href="mailto:busidex.help@gmail.com">busidex.help@gmail.com</a> and we will help you get set up.</p>
        </div>
    </div>
     <div style="width: 640px; margin-left:auto; margin-right:auto;font-size: 30px !important; background-color: #425470; padding:10px 20px;">
        <p style="color:#ffffff;font-size:13px;">
            You're receiving this because you own an active account on Busidex.com.
        </p>
    </div>
</div>
