<!doctype html>
<html lang="en">
<head>
    <title>Busidex</title>
</head>
<body>
    <div style="padding:20px; background-color:#ececec; font-family: Arial;font-size: 14px;line-height: 20px;">
        <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #ffffff; padding:10px 20px;">
            <div style="min-height:95px; border-bottom: solid 1pt #444444;">
                <img src="https://www.busidex.com/img/email_header.png" style="width: 100%;" />
            </div>
        </div>
        <div style="width: 640px; margin-left:auto; margin-right:auto; background-color: #ffffff;padding:20px;">
            <h1 style="line-height: 24px; color: #2589a0; margin-top: 0; text-align: center;">
                Business Seminar Series<br /><small style="font-size: 24px; color: #999999; font-weight: normal;">Get Busy with Busidex!</small>
            </h1>
            <div align="left" style="color: #444444;margin-top: 0;margin-bottom: 18px;">
                <p>
                    For those that attended our first seminar, you all found out that a baby was born and the seminar had to be rescheduled. We thank you for
                    understanding and want to inform you that we at Busidex are again proud to present our first seminar for the Greater Cranston
                    Chamber of Commerce. The topic for this seminar will be Lead Creation and Successful Networking. We are inviting all Busidex users to
                    register for this event so they may learn how to use the Busidex phone app to its maximum potential. This will be a hands-on seminar, so
                    be sure to bring your phone or laptop.
                </p>
                <p>
                    If you have your business card on Busidex, this will be a great opportunity to learn how to share your card and promote yourself and
                    your business. If you have not yet added your card to Busidex, this will be your chance to get some help with getting up and running.
                </p>
                <p>
                    It's also a great time to bring that business associate whose business card you want current so you can share it with anyone that may need their service.
                </p>
                <p>
                    The seminar will be held Monday September 21, 2015 from 10:00 AM to 11:00 AM at the following address:
                    <address>
                        Garden City Shopping Center<br />
                        100 Midway Road,<br />
                        Suite 14<br />
                        Cranston, RI 02920<br />
                    </address>There is limited seating, so if you'd like to attend be sure to do so quickly. You can register for the event here:
                    <a target="_blank" href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ebhedfn642ac73ad&oseq=&...">
                        https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ebhedfn642ac73ad&oseq=&...
                    </a>
                </p>
            </div>
        </div><div style="width: 640px; margin-left:auto; margin-right:auto;font-size: 30px !important; background-color: #425470; padding:10px 20px;">
            <p style="color:#ffffff;font-size:13px;">
                You're receiving this because you own an active account on Busidex.com.
            </p>
        </div>
    </div>
</body>
</html>