<!doctype html>
<html lang="en">
    <head><title>Busidex</title></head>
    <body>
        <div style="padding:20px; background-color:#ececec; font-family: Arial;font-size: 14px;line-height: 20px;">
            <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #ffffff; padding:10px 20px;">
                <div style="min-height:95px; border-bottom: solid 1pt #444444;">
                    <img src="https://www.busidex.com/img/email_header.png" style="width: 100%;" />
                </div>
            </div>
            <div style="width: 640px; margin-left:auto; margin-right:auto; background-color: #ffffff;padding:20px;">
                <h2 style="line-height: 24px; color: #2589a0; margin-top: 0; ">You Have Connections Waiting</h2>
                <div align="left" style="color: #444444;margin-top: 0;margin-bottom: 18px;">
                    <p>
                    </p>
                </div>
            </div><div style="width: 640px; margin-left:auto; margin-right:auto;font-size: 30px !important; background-color: #425470; padding:10px 20px;">
                      <p style="color:#ffffff;font-size:13px;">
                          You're receiving this because you own an active account on Busidex.com.
                      </p>
                  </div>
        </div>
    </body>
</html>