<!doctype html>
<html lang="en">
    <head><title>Busidex</title></head>
    <body>
        <div style="padding:20px; background-color:#ececec; font-family: Arial;font-size: 14px;line-height: 20px;">
            <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #ffffff; padding:10px 20px;">
                <div style="min-height:95px; border-bottom: solid 1pt #444444;">
                    <img src="https://www.busidex.com/img/email_header.png" style="width: 100%;" />
                </div>
            </div>
            <div style="width: 640px; margin-left:auto; margin-right:auto; background-color: #ffffff;padding:20px;">
                <h2 style="line-height: 24px; color: #2589a0; margin-top: 0; ">The New Busidex Website</h2>
                <div align="left" style="color: #444444;margin-top: 0;margin-bottom: 18px;">
                    <p>The launch of the <a href="https://www.busidex.com">new Busidex website</a> has been a long time coming, but it was definitely 
                    worth the wait. You will find that the new design is mobile-friendly so you can use it on your
                    desktop, your tablet or your phone. Many of the features have been re-organized and enhanced to incorporate all the great feedback
                    that our users have given us over the past months. Some features have been temporarily removed as we continue enhancements and
                    improvements, while others have simply been moved or redesigned.
                    </p>
                    <p>
                        With so many enhancements and updates to the website and mobile apps, it's impossible (well, more like impractical) to list them all
                        in sufficient detail, so we'll be highlighting a new feature through our newsletters and Twitter so we can give them the attention they deserve. 
                    </p>
                    <p>
                        <h3>Asked and Answered!</h3>
                        For the first of these informational newsletters, it seems fitting to start with the place to get your questions answered. If
                        you go to our new <a href="https://www.busidex.com/#/faq">Frequently Asked Questions</a> page, you will see a listing of the 
                        top questions people have asked us. If you click on a question, you will see a detailed explanation which answers the question.
                        If there's a question that you have and it's not listed, feel free to email <a href="mailto:busidex.help@gmail.com">Busidex Support</a>
                         with your question and we'll answer it directly, and if enough people ask then we'll add it to the site.
                    </p>   
                    <p>
                        In addition to our FAQ page, we are also adding a <a href="https://www.busidex.com/#/releases">Release Notes page</a> which will
                        be a listing of all the latest releases, updates and bug fixes. Check this page often so you're up to speed with all the cool 
                        stuff being added to the Busidex platform.
                    </p>
                    <p>
                        <h3>We're Here to Help</h3>
                        Being a new product, if you are having issues or need help with a feature you can reach out to us at <a href="mailto:busidex.help@gmail.com">Busidex Support</a> 
                        and we'll try our best to get you back on track ASAP.                         
                    </p>                                                      
                    <p>
                        So keep an eye out each week for the next email in this series of helpful tips to get Busidex&reg; working for you.
                    </p>
                </div>
            </div><div style="width: 640px; margin-left:auto; margin-right:auto;font-size: 30px !important; background-color: #425470; padding:10px 20px;">
                      <p style="color:#ffffff;font-size:13px;">
                          You're receiving this because you own an active account on Busidex.com.
                      </p>
                  </div>
        </div>
    </body>
</html>