<!doctype html>
<html lang="en">
    <head><title>Busidex</title></head>
    <body>
        <div style="padding:20px; background-color:#ececec; font-family: Arial;font-size: 14px;line-height: 20px;">
            <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #ffffff; padding:10px 20px;">
                <div style="min-height:95px; border-bottom: solid 1pt #444444;">
                    <img src="https://www.busidex.com/img/email_header.png" style="width: 100%;" />
                </div>
            </div>
            <div style="width: 640px; margin-left:auto; margin-right:auto; background-color: #ffffff;padding:20px;">
                <h2 style="line-height: 24px; color: #2589a0; margin-top: 0; ">The New Busidex Website <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small style="color:#888888">on the desk or on the go...</small></h2>
                <div align="left" style="color: #444444;margin-top: 0;margin-bottom: 18px;">
                    <p><strong>It's been a long time coming</strong>, but it was well worth the wait. The new website is finally here and will be available to 
                        the public on 7/11/2015. We hope you'll find that there's a lot to like! We have been listening carefully to our customers and getting a 
                        good understanding of how people want to use the <a href="https://www.busidex.com">Busidex website</a>.</p>
                    <p>Here's a quick overview of the new stuff you'll find in the new website:
                        <ul>
                            <li>A fresh new professional look</li>
                            <li>Mobile-friendly design</li>
                            <li>Easier card updates</li>
                            <li>One-Click filters in My Busidex</li>
                            <li>Thumbnail or detail card views</li>
                            <li>FAQ page</li>
                        </ul>
                    </p>
                    <p>
                        <h3>Our New Look</h3>
                        Thanks to Darren Marinelli and <a href="http://profile.busidex.com/details/Darren-Marinelli-Artinium-Inc">Artinium</a> for the great new 
                        site design. In listening to customer feedback, we found that many of you aren't sitting down at your computers surfing the web, but 
                        rather you are using your mobile devices to do your web browsing. Now you can use the 
                        <a href="https://www.busidex.com">Busidex website</a> on your phone just as easily as on your laptop. 
                        <div>
                            <img alt="Web View" src="https://www.busidex.com/img/newsletters/web1.png" style="height:200px;width:250px" />
                            <img alt="Mobile View" src="https://www.busidex.com/img/newsletters/mobile5.png" style="margin-left: 20px;height:150px;width:85px" />
                        </div>
                    </p>
                    <p>
                        <h3>Adding or Updating Your Card</h3>
                        If you have joined Busidex in the past two months, then this will be no surprise. But for those who joined earlier, I invite 
                        you to go to <a href="https://start.busidex.com">start.busidex.com</a> and update your card. This new layout should be easier 
                        to understand and will work on your phone just as easily as your home computer. 
                        <div>
                            <img src="https://www.busidex.com/img/newsletters/web5.png" style="height:200px;width:250px"/>
                            <img src="https://www.busidex.com/img/newsletters/mobile8.png" style="margin-left: 20px;height:150px;width:85px"/>
                        </div>
                    </p>
                    <p>
                        <h3>A New Way to See Your Card</h3>
                        Searching for cards will give you some new options now. With the new layout, you can view your search results as thumbnail images 
                        or by card details. 
                        <div>
                            <div>
                                <img src="https://www.busidex.com/img/newsletters/web2.png" style="height:200px;width:250px"/>
                                <img src="https://www.busidex.com/img/newsletters/mobile6.png" style="margin-left: 20px;height:150px;width:85px"/>
                            </div>
                            <div>
                                <img alt="Web View" src="https://www.busidex.com/img/newsletters/web4.png" style="height:200px;width:250px"/>
                                <img alt="Mobile View" style="margin-left: 20px;height:150px;width:85px" src="https://www.busidex.com/img/newsletters/mobile7.png" />
                            </div>
                        </div>
                    </p>            
                    <p>
                        <h3>Organizing My Busidex</h3>
                        Now your My Busidex collection is easier to manage with new 'one-click' filters. On the left side of the screen you will find a 
                        list that lets you filter your cards quickly and easily. Click (or tap on your phone) on the letter to see cards who's name 
                        begins with that letter. 
                        <div>
                            <img alt="Web View" style="height:200px;width:250px" src="https://www.busidex.com/img/newsletters/web6.png"/>
                            <img alt="Mobile View" style="margin-left: 20px;height:150px;width:85px" src="https://www.busidex.com/img/newsletters/mobile2.png"/>
                        </div>
                    </p>
                    <p>
                        <h3>Any Questions?</h3>
                        We have added a FAQ page to answer some of the more commonly asked questions to give users quick answers and get them back 
                        to being productive. This page will be updated regularly as we get more user feedback, so if there's something you would like
                        included on this page, just let us know.
                        <div>
                            <img alt="Web View" src="https://www.busidex.com/img/newsletters/web3.png" style="height:200px;width:250px"/>
                            <img alt="Mobile View" src="https://www.busidex.com/img/newsletters/mobile1.png" style="margin-left: 20px;height:150px;width:85px"/>
                        </div>
                    </p>
                </div>
            </div><div style="width: 640px; margin-left:auto; margin-right:auto;font-size: 30px !important; background-color: #425470; padding:10px 20px;">
                      <p style="color:#ffffff;font-size:13px;">
                          You're receiving this because you own an active account on Busidex.com.
                      </p>
                  </div>
        </div>
    </body>
</html>