<!doctype html>
<html lang="en">
    <head><title>Busidex</title></head>
    <body>
        <div style="padding:20px; background-color:#ececec; font-family: Arial;font-size: 14px;line-height: 20px;">
            <div style="width: 640px; margin-left:auto;margin-right:auto;font-size: 30px !important; background-color: #ffffff; padding:10px 20px;">
                <div style="min-height:95px; border-bottom: solid 1pt #444444;">
                    <img src="https://www.busidex.com/img/email_header.png" style="width: 100%;" />
                </div>
            </div>
            <div style="width: 640px; margin-left:auto; margin-right:auto; background-color: #ffffff;padding:20px;">
                <h2 style="line-height: 24px; color: #2589a0; margin-top: 0; ">The New Busidex Website is Almost Here!</h2>
                <div align="left" style="color: #444444;margin-top: 0;margin-bottom: 18px;">
                    <p>Hope everyone had a safe and happy July 4th holiday. This is just a quick reminder that the <a href="https://www.busidex.com">new Busidex website</a>
                        will be available this Saturday 7/11/2015. If you have bookmarked the page to edit your card, you will want to update that to 
                    point to <a href="https://start.busidex.com">this page</a>, as the old one will be retired to greener pastures. 
                    </p>
                    <p>
                        <h3>Adding or Updating Your Card</h3>
                        If you have created your Busidex account but have not yet uploaded your card, I invite you to go to <a href="https://start.busidex.com">start.busidex.com</a> 
                        and add your card. The new layout should be easier to understand and will work on your phone just as easily as your home computer. Remember, if the
                        information on your card changes, all you need to do is update it on Busidex and everyone who has your card will instantly see the
                        updated information. 
                        <div>
                            <img src="https://www.busidex.com/img/newsletters/web5.png" style="height:200px;width:250px"/>
                            <img src="https://www.busidex.com/img/newsletters/mobile8.png" style="margin-left: 20px;height:150px;width:85px"/>
                        </div>
                    </p>
                    <p>
                        <h3>Who Has Your Card?</h3>
                        How many business cards did you hand out last month? How many times did you share your card with Busidex last month? If you use
                        Busidex, everyone with whom you share your card will always have it on their phone and it will <strong>always</strong> be up to
                        date. Unfortunately, that piece of card stock you keep handing out is likely folded up under a car seat somewhere doing nothing
                        for you. Busidex gives you a quick and simple way to get your card into the hands of the people that will bring you business - 
                        and it will <strong>keep it there</strong>.
                    </p>                                            
                </div>
            </div><div style="width: 640px; margin-left:auto; margin-right:auto;font-size: 30px !important; background-color: #425470; padding:10px 20px;">
                      <p style="color:#ffffff;font-size:13px;">
                          You're receiving this because you own an active account on Busidex.com.
                      </p>
                  </div>
        </div>
    </body>
</html>