<style type="text/css">
    html{
        background: url('https://az381524.vo.msecnd.net/images/background2.png') no-repeat center center fixed;
        background-color: #01262f !important;
        -ms-background-size: cover !important;
        background-size: cover !important;
    }
</style>
<div ng-controller="PasswordRecoverController as vm">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-md-offset-3">
            <div class="well" style="margin-top: 20px;">
                <a ng-href="#/login" class="pull-right btn btn-danger">X</a>
                <h3>Recover Your Password</h3>

                <div ng-show="vm.Model.Error == true" class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    There was a problem sending the email. Please try again in a few minutes.
                </div>
                <p class="lead text-info">
                    Enter the email address with which you registered. We'll send you an email containing instructions on how to reset your password.
                    Here's how it works:
                </p>

                <p>
                    1. Click the link in the email (if you don't see it within a few minutes, check your spam folder).<br/>
                    2. On the password reset page, enter your user name and your new password.
                </p>
                <hr/>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Email</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="email" name="Email" ng-model="vm.Model.Email" autocomplete="off"/>
                        </div>
                        <div class="col-sm-6">
                            <button ng-click="vm.Model.SendEmail()" class="btn btn-primary">Send Password Recovery Email</button>
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-show="vm.Model.BadEmail" ng-model="vm.Model.BadEmail">
                        We could not find a Busidex account associated with <strong>{{vm.Model.Email}}</strong>
                    </div>
                    <div class="alert alert-danger" ng-show="vm.Model.Error" ng-model="vm.Model.Error">
                        There was a problem sending the email. Please try again later.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>