<style type="text/css">
    body {
        background: #4f8498;
    }
</style>
<div class="container-fluid" ng-controller="PasswordResetController as vm">
    <!--CHANGE PASSWORD-->
    <div class="well col-md-6 col-md-offset-3">
        <form id="passwordForm" name="passwordForm" autocomplete="off" novalidate ng-model="vm.AccountInfoModel.UserInfo">
            <div class="form-horizontal">
                <h2>
                    CHANGE YOUR PASSWORD<br />
                    <small>
                        New passwords are required to be a minimum of 8 characters in length.
                    </small>
                </h2>
                <div class="form-group">
                    <label class="col-sm-3 control-label">User Name or Email</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="UserName" ng-model="vm.Model.UserName" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">New Password</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="password" name="Password" ng-model="vm.Model.Password" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Confirm Password</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="password" name="ConfirmPassword" ng-model="vm.Model.ConfirmPassword" autocomplete="off" />
                    </div>
                </div>
                <input type="submit" value="Change password" class="btn btn-info" role="button" ng-click="vm.Model.Login()" ng-disabled="!vm.passwordsMatch()" />
            </div>
        </form>
    </div>
</div>