<style type="text/css">
    html{
        background: url('https://az381524.vo.msecnd.net/images/background2.png') no-repeat center center fixed;
        background-color: #01262f !important;
        -ms-background-size: cover !important;
        background-size: cover !important;
    }
</style>
<div ng-controller="PasswordRecoverController as vm">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-md-offset-3">
            <div class="well" style="margin-top: 20px;">
                <a ng-href="#/login" class="pull-right btn btn-danger">X</a>
                <h3>Email Sent!</h3>
                <p class="lead text-info">
                    Ok, that's it. We'll take it from here. Now go check your email and follow the instructions once you receive it. If you don't see
                    the email for a few minutes, check your spam folder. Some spam filters are more finicky than others.
                </p>

            </div>
        </div>
    </div>
</div>