<div class="container" ng-controller="HelpController as vm">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="../images/busidex_icon_100x100.png"
                     alt="">
                <form class="form-signin">
                    <h4 style="text-align: center;">I'm having trouble logging in...</h4>
                    <p>
                        You can log in with your username or an email address, so if you forgot your username, try the email address with which
                        you registered. If you just plain forgot your information, we can help with that. Use the links below to recover 
                        fogotten information:
                        <ul class="list-group">
                            <li class="list-group-item"><a href="https://www.busidex.com/#/account/usernamerecover" target="=_blank">I forgot my username</a></li>
                            <li class="list-group-item"><a href="https://www.busidex.com/#/account/passwordrecover" target="=_blank">I forgot my password</a></li>
                            <li class="list-group-item"><a href="https://www.busidex.com/#/account/register" target="=_blank">I don't have an account</a></li>
                        </ul>
                    </p>
                </form>
            </div>

        </div>
    </div>
</div>