<div class="container" ng-controller="LogoutController as vm">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">

            <div class="account-wall">
                <img class="profile-img" src="../images/busidex_icon_100x100.png"
                     alt="">
                <form class="form-signin">
                    <h3 style="text-align: center;">Completing your registration...</h3>
                </form>
            </div>

        </div>
    </div>
</div>