<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    -->
    <connectionStrings>
      <add name="busidexConnectionString" connectionString="Server=tcp:uh0wjvjdvz.database.windows.net,1433;Database=busidex;User ID=vinbrown2@uh0wjvjdvz;Password=Ride9736;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" 
           providerName="System.Data.SqlClient" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <googleInfo>
    <add key="ClientId" value="994108869461.apps.googleusercontent.com" xdt:Locator="Match(key)"/>
    <add key="EmailAddress" value="994108869461@developer.gserviceaccount.com" xdt:Locator="Match(key)"/>
    <add key="ClientSecret" value="gLo08X7faByUWKaw0QTVZGJ8" xdt:Locator="Match(key)"/>
    <add key="RedirectURIs" value="http://www.busidex.com/oauth2callback" xdt:Locator="Match(key)"/>
    <add key="JavaScriptOrigins" value="http://www.busidex.com" xdt:Locator="Match(key)"/>
  </googleInfo>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      -->
      <customErrors defaultRedirect="~/Error"
        mode="RemoteOnly" xdt:Transform="Replace">
      </customErrors>
    
  </system.web>
</configuration>