<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    -->
    <connectionStrings>
      <add name="busidexConnectionString" connectionString="Data Source=l1hwp5ngp9.database.windows.net,1433;Initial Catalog=busidex;User ID=vinbrown2;Password=Ride9736;Max Pool Size=50" providerName="System.Data.SqlClient" 
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <googleInfo>
    <add key="ClientId" value="994108869461-pcffqeebsao1npi6atlba6tup5bf15va.apps.googleusercontent.com" xdt:Locator="Match(key)"/>
    <add key="EmailAddress" value="994108869461-pcffqeebsao1npi6atlba6tup5bf15va@developer.gserviceaccount.com" xdt:Locator="Match(key)"/>
    <add key="ClientSecret" value="o94YbjE7sKGGt8gpUYWyU8Xx" xdt:Locator="Match(key)"/>
    <add key="RedirectURIs" value="http://local.busidex.com/oauth2callback" xdt:Locator="Match(key)"/>
    <add key="JavaScriptOrigins" value="http://local.busidex.com" xdt:Locator="Match(key)"/>
  </googleInfo>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>