<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <!--<add name="vinbrown2_busidexConnectionString"
          connectionString="Data Source=174.37.255.232,777;Initial Catalog=vinbrown2_busidex;User ID=vinbrown2_BUSIDEX_WUSR;Password=MeanieChetto;Max Pool Size=50"
          providerName="System.Data.SqlClient" />-->
    <add name="vinbrown2_busidexConnectionString" connectionString="Data Source=l1hwp5ngp9.database.windows.net,1433;Initial Catalog=vinbrown2_busidex;User ID=vinbrown2_BUSIDEX_WUSR;Password=MeanieChetto1;Max Pool Size=50" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime useFullyQualifiedRedirectUrl="false"
             maxRequestLength="51200"
             executionTimeout="60"
             appRequestQueueLimit="10" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="BasicHttpBinding_IBusidexService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="1000000000" maxReceivedMessageSize="1000000000"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="1000000000" maxArrayLength="1000000000"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
        <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>
