<style type="text/css">
    body {
        background: #4f8498;
    }
</style>
<div class="row">        
    <div class="well col-sm-8 col-md-8 col-md-offset-2" style="margin-top: 20px; margin-bottom:150px;" ng-controler="VanityUrlController as vm">
        <div class="col-sm-6">
            <h1 style="color: #2589a0; font-family: Helvetica;text-align:center">Welcome to the BCA Community Busidex! </h1>
            <p class="about" style="padding:10px;font-size:1.2em;">
                <strong>Busidex&reg;</strong> is proud to be creating the <strong>BCA Busidex Platform</strong>. As parents and teachers of BCA Students
                we are connected to each other as part of a greater community. Giving back to the community is among those all-so–important values. Busidex
                has created the opportunity for our community to connect and hopefully help each other, whether it be by arranging a car pool, or patronizing
                the businesses and services represented in our community. Now when looking for a service you can look to see if anyone in the BCA community
                provides that service.
            </p>
            <p class="about" style="padding:10px;font-size:1.3em;">
                <strong>Click to view the presentation:</strong>
                <a href="http://prezi.com/1i1ts1bysmam/?utm_campaign=share&utm_medium=copy&rc=ex0share" style="color:blue" target="_blank">Busidex and your Community (presentation)</a>
            </p>
        </div>
        <div class="col-sm-6">
            <img src="/images/bca.png" style="height:100%; min-height: 60px; width: 100%; margin-top: 10px; margin-bottom: 20px;" />
            <div style="margin-left: 5%;border: solid 1pt silver; border-radius: 10px;">
                <p>
                    <h4 style="text-align: center;">For more information contact <a style="text-decoration: underline;" href="mailto:busidex.help@gmail.com">Busidex Help</a></h4>
                </p>
                <div style="padding: 30px 40px 20px 40px; text-align: center;">
                    <a class="btn btn-info btn-large" href="https://register.busidex.com/#/name?_e=BCA20150512">Click Here to Get Started</a>
                </div>
                <div style="padding: 0 40px 40px 40px; text-align: center;">
                    <h4>Already have a Busidex account?</h4>
                    <a class="btn btn-info btn-large" ng-href="#/login?_e=BCA20150512">Click here to log in</a>
                </div>
            </div>
        </div>
    </div>
</div>