<style type="text/css">
    body {
        background: #4f8498;
    }
</style>
<div class="row">        
    <div class="well col-sm-8 col-md-8 col-md-offset-2" style="margin-top: 20px; margin-bottom:150px;" ng-controler="VanityUrlController as vm">
        <div class="col-sm-6">
            <p class="about" style="padding:10px;">
                <strong>Busidex</strong> is connecting Sponsors and Guests of the <strong>BNI- Evening with the Stars!</strong> When you create or log into
                your Busidex Account through this landing page your business card will be added to the event platform so all attendees can view each
                other’s business card and connect after the event is over.
            </p>
            <p>
                (If the presentation isn't displaying right away, you can see it here:)<br/>
                <a href="http://prezi.com/nvqlg-i3xmge/?utm_campaign=share&utm_medium=copy&rc=ex0share" style="color:blue" target="_blank">Why Busidex? (presentation)</a>
            </p>
            <div>
                <iframe frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="550" height="400" src="https://prezi.com/embed/nvqlg-i3xmge/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0#"></iframe>
            </div>
        </div>
        <div class="col-sm-6">
            <img ng-src="/images/bnistars.png" style="height:330px;" />
            <p>
                <h4 style="text-align: center;">For more information contact <a href="mailto:busidex.help@gmail.com">Busidex Help</a></h4>
            </p>
            <!--<div style="padding: 30px 40px 20px 40px; text-align: center;">
                    <a class="btn btn-info btn-large" href="#/account/register?promo_code=BNIStars2015">Click Here to Get Started</a>
                </div>
                <div style="padding: 0 40px 40px 40px; text-align: center;">
                    <h4>Already have a Busidex account?</h4>
                    <a class="btn btn-info btn-large" href="#/account/login?_e=BNIStars2015">Click here to log in</a>
                </div>-->
        </div>

    </div>
</div>