<div class="well well-large span12" style="margin-top: 20px; margin-bottom:150px;background: #fff;">
    <div class="span5">
        <h1 style="color: #2589a0; font-family: Helvetica;text-align:center">Welcome to the RIAR Expo 2015! </h1>
        <p class="about" style="padding:10px;font-size:1.2em;">
            <strong>Busidex&reg;</strong> is proud to be creating the <strong>RIAR Expo Busidex Platform</strong>. How many of you wonder where your business card
            will end up? Will you have enough? Are you fearful of forgetting them? What about meeting someone that you really wanted to do business with?
            Are you afraid of losing their business card? When you create or log into your account through this link we automatically add your business
            card to the <strong>RIAR Expo Platform</strong> so everyone can connect with each other. At the Conference simply download the Busidex&reg; App, log in,
            click on the event, and voila! You’ll see the business cards of all exhibitors!
        </p>
        <p class="about" style="padding:10px;">
            <strong>Click to view the presentation:</strong>
            <a href="http://prezi.com/wl2drpp4dx_b/?utm_campaign=share&utm_medium=copy&rc=ex0share" style="color:blue" target="_blank">Why Busidex? (presentation)</a>
        </p>
    </div>
    <div class="span6">
        <img src="/img/RIARExpoLogo.png" style="height:150px;margin-top: 10px; margin-bottom: 20px;" />
        <div style="margin-left: 5%;border: solid 1pt silver; border-radius: 10px;">
            <p>
                <h4 style="text-align: center;">For more information contact <a style="text-decoration: underline;" target="_blank"  href="mailto:busidex.help@gmail.com">Busidex Help</a></h4>
            </p>
            <div style="padding: 30px 40px 20px 40px; text-align: center;">
                <a class="btn btn-info btn-large" href="#/account/register?promo_code=RIARExpo2015" target="_blank">Click Here to Get Started</a>
            </div>
            <div style="padding: 0 40px 40px 40px; text-align: center;">
                <h4>Already have a Busidex account?</h4>
                <a class="btn btn-info btn-large" href="#/account/login?_e=RIARExpo2015" target="_blank">Click here to log in</a>
            </div>
        </div>
    </div>
</div>