<style type="text/css">
    body {
        background: #4f8498;
    }
</style>
<div class="row" ng-controller="VanityUrlController as vm">
    <div class="well col-sm-7 col-md-10 col-lg-7 col-md-offset-1 col-lg-offset-2" style="margin-top: 20px; margin-bottom:150px; background: #ffffff;" ng-controler="VanityUrlController as vm">
        <div class="col-sm-6">
            <h1 style="color: #2589a0; font-family: Helvetica;text-align:center">NOW, DURING AND AFTER</h1>
            <p class="about" style="padding:10px;font-size:1.35em;">
                Get under the umbrella. Connect! Share! Give/Get Referral!
            </p>
            <p class="about" style="padding:10px; text-align: center;">
                <a class="btn btn-primary btn-lg" href="https://prezi.com/dwm4ef0vnro6/busidex-and-your-event-platform/?utm_campaign=share&utm_medium=copy" target="_blank">
                    Click Here to Learn More
                </a>
            </p>
            <p style="width: 100%; text-align: center;">
                <img src="/images/TENumbrella.png" style="margin-top: 20px; height: 350px;" />
            </p>           
        </div>
        <div class="col-sm-6" style="text-align: center;">
            <img src="/images/ten.jpg" style="width: 80%; max-height: 300px;" />
            <div style="border: solid 1pt silver; border-radius: 10px;padding: 8px;margin: 10px;">
                <div style="padding: 30px 20px 0 20px; text-align: center; ">
                    <h3>Ready to become part of the Total Exposure Networking Busidex platform?</h3>                    
                </div>
                <div style="padding: 0 20px 20px 20px; text-align: center;">
                    <h4>Create Busidex Account?</h4>
                    <a class="btn btn-primary btn-large" style="font-weight: bold; width: 10em;" href="https://register.busidex.com/#/name?promo_code=TEN" target="_blank">JOIN HERE</a>
                </div>
                <div style="padding: 0 20px 40px 20px; text-align: center;">
                    <h4>Have a Busidex Account?</h4>
                    <a class="btn btn-primary btn-large" style="font-weight: bold; width: 10em;" ng-href="#/login?_e=TEN">LOG IN</a>
                </div>
            </div>
        </div>
    </div>
</div>